
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.dashboard-uGA {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .sidebar-T2n {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 2.5rem 71.6rem 2.5rem;
    width: 28rem;
    height: 132rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2434;

    .logo-kGn {
      width: calc(100% - 2.2rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.7rem 4.577rem 1.5rem;

      .shape-gAS {
        margin-right: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .namaproduk-Qs8 {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .menu-vaa {
      margin: 0rem 16rem 1.223rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.4285714286;
      text-transform: uppercase;
      color: #8a99af;
      white-space: nowrap;
    }
    .dashboard-39Q {
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      align-items: center;
      background-color: #333a48;
      padding: 0.8rem 10.9rem 0.8rem 1.579rem;
      width: 100%;
      display: flex;

      .grid-alt-kJi {
        margin: 0rem 1.079rem 0.006rem 0rem;
        width: 1.6425rem;
        height: 1.6031rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-eut {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .staff-xva {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      padding: 0.8rem 15.2rem 0.8rem 1.527rem;
      width: 100%;
      display: flex;
      background-color: #1c2434;
      border-radius: 0.3rem;

      .medical-icon-i-care-staff-area-JDk {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.037rem 0.009rem 0rem;
        width: 1.7362rem;
        height: 1.7618rem;
        position: relative;
        object-fit: contain;
      }
      .staff-cVL {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .dokter-k5k {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      padding: 0.8rem 14.225rem 0.8rem 1.5rem;
      width: 100%;
      border-radius: 0.3rem;

      .fa6-solid-user-doctor-sAN {
        margin-right: 1rem;
        width: 1.575rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dokter-yz6 {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .pasien-74i {
      margin-bottom: 0.6rem;
      width: 100%;
      background-color: #1c2434;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.8rem 0.8rem 1.8rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;

      .fluent-patient-24-filled-dok {
        width: 1.2rem;
        height: 1.5004rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.3rem 0rem 0rem;
      }
      .pasien-x5L {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .kunjungan-g1L {
      padding: 0.8rem 11.1rem 0.8rem 1.8rem;
      cursor: pointer;
      align-items: center;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      width: 100%;
      display: flex;
      background-color: #1c2434;
      flex-shrink: 0;
      box-sizing: border-box;

      .mdi-patient-QCE {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .kunjungan-YJS {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .obat-UC6 {
      margin-bottom: 0.6rem;
      padding: 0.8rem 15.3rem 0.8rem 1.8rem;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      border-radius: 0.3rem;

      .icon-park-solid-medicine-bottle-one-QLe {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .obat-jNv {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .layanan-4AJ {
      margin-bottom: 0.6rem;
      display: flex;
      box-sizing: border-box;
      padding: 0.8rem 12.7rem 0.8rem 1.594rem;
      width: 100%;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;

      .ri-service-fill-PCa {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.018rem 1.094rem 0rem 0rem;
        width: 1.6116rem;
        height: 1.4331rem;
      }
      .layanan-J4e {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .spesialisasi-R9G {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      padding: 0.8rem 10.2rem 0.8rem 1.74rem;
      width: 100%;
      align-items: center;
      display: flex;
      background-color: #1c2434;
      border-radius: 0.3rem;

      .maki-doctor-x9C {
        margin-right: 1.18rem;
        width: 1.38rem;
        height: 1.56rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .spesialisasi-UtE {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .cms-QWz {
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: 0.8rem 15.3rem 0.8rem 1.613rem;
      width: 100%;
      background-color: #1c2434;

      .carbon-cloud-service-management-LfY {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1125rem;
        width: 1.575rem;
        height: 1.575rem;
        position: relative;
      }
      .cms-fSv {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .setting-apn {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.6rem 0.8rem 1.656rem;

      .ant-design-setting-filled-ivz {
        margin: 0.001rem 1.155rem 0rem 0rem;
        width: 1.4897rem;
        height: 1.5728rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .setting-S6J {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-yvxd-LhU {
    width: 138rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .topbar-H6v {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.7rem 3rem 1.7rem 3.5rem;
      width: 100%;
      height: 8rem;
      box-shadow: 0 0.1rem 0 #e2e8f0;

      .search-CUn {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 86.9rem 1.3rem 0rem;
        box-sizing: border-box;
        padding-left: 0.1667rem;
        height: calc(100% - 2.6rem);

        .search-2-87Y {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.167rem 0rem 0rem;
          width: 1.6667rem;
          height: 1.6667rem;
        }
        .type-to-search-e5t {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.4285714286;
          color: #637381;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .notification-Apv {
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
      }
      .message-i5k {
        flex-shrink: 0;
        margin-right: 3.8rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .user-TJE {
        box-sizing: border-box;
        padding-right: 0.4167rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-doxk-CFp {
          margin: 0.6rem 1.5rem 0.5rem 0rem;
          height: calc(100% - 1.1rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .harper-kinanti-XJ6 {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            text-align: right;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #212b36;
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .administrasi-Svr {
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #637381;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .ellipse-2824-zBg {
          margin-right: 1.4167rem;
          width: 4.6rem;
          background-size: 100% 100%;
          background-position: center;
          flex-shrink: 0;
          height: 4.6rem;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:764408efd316b9785ad155fc6738f0a18dd0c978');
          border-radius: 2.3rem;
        }
        .chevron-down-2-1-HwU {
          margin-bottom: 0rem;
          width: 1.1667rem;
          height: 0.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-dzty-ntE {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.5rem 4.5rem 0rem 4.5rem;
      width: 100%;

      .cards-group-7fc {
        margin-bottom: 3rem;
        width: 100%;
        height: 11.7rem;
        display: flex;
        column-gap: 4.5rem;
        align-items: center;
        flex-shrink: 0;

        .card-1-TDg {
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.7rem 1.6rem 1.65rem;
          width: 40rem;
          height: 100%;

          .auto-group-gxbh-kTg {
            height: 4.8rem;
            display: flex;
            align-items: center;
            margin-bottom: 1.9rem;
            width: 100%;

            .texts-group-tZt {
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.2rem 22.85rem 0.3rem 0rem;

              .text-DcA {
                letter-spacing: 0.08rem;
                color: #a0aec0;
                font-family: Roboto, 'Source Sans Pro';
                margin-bottom: 0.4rem;
                font-weight: 700;
                line-height: 1.1725;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
              .text-wHG {
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: 0.09rem;
                color: #2d3748;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
              }
            }
            .icon-in-circle-4cn {
              height: 4.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 4.8rem;
            }
          }
          .bottom-section-1H8 {
            margin-left: 0.1rem;
            display: flex;
            align-items: flex-start;

            .icons-arrow-up-14px-green-500-MLz {
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.1rem 0.6rem 0rem 0rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              color: #48bb78;
            }
            .text-3zW {
              font-size: 1.4rem;
              font-weight: 400;
              color: #48bb78;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.8rem;
              letter-spacing: 0.0601rem;
              white-space: nowrap;
              line-height: 1.1725;
            }
            .text-mQi {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.02rem;
              color: #a0aec0;
            }
          }
        }
        .card-2-dxi {
          padding: 1.6rem 1.7rem 1.6rem 1.65rem;
          width: 40rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-9a2s-mZ8 {
            height: 4.8rem;
            display: flex;
            align-items: center;
            margin-bottom: 1.9rem;
            width: 100%;

            .texts-group-Vzv {
              margin: 0.2rem 22.75rem 0.3rem 0rem;
              height: calc(100% - 0.5rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .text-Ehc {
                margin-bottom: 0.4rem;
                font-size: 1.2rem;
                letter-spacing: 0.08rem;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 700;
                line-height: 1.1725;
                color: #a0aec0;
                flex-shrink: 0;
              }
              .text-ArA {
                color: #2d3748;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: 0.09rem;
              }
            }
            .icon-in-circle-JxN {
              width: 4.8rem;
              height: 4.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .bottom-section-emL {
            margin-left: 0.1rem;
            display: flex;
            align-items: flex-start;

            .icons-arrow-down-14px-red-500-QVc {
              margin: 0.1rem 0.6rem 0rem 0rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #f56565;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.4rem;
            }
            .text-iWJ {
              margin-right: 0.8rem;
              font-size: 1.4rem;
              color: #f56565;
              font-family: Roboto, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.0601rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .text-3Ya {
              color: #a0aec0;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.02rem;
            }
          }
        }
        .card-3-iei {
          box-sizing: border-box;
          padding: 1.6rem 1.7rem 1.6rem 1.65rem;
          width: 40rem;
          height: 100%;
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;

          .auto-group-vasb-Sqc {
            width: 100%;
            height: 4.8rem;
            display: flex;
            align-items: center;
            margin-bottom: 1.9rem;

            .texts-group-awp {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.2rem 20.85rem 0.3rem 0rem;
              height: calc(100% - 0.5rem);

              .text-KuQ {
                font-weight: 700;
                line-height: 1.1725;
                letter-spacing: 0.08rem;
                white-space: nowrap;
                margin-bottom: 0.4rem;
                font-size: 1.2rem;
                color: #a0aec0;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .text-Fo4 {
                color: #2d3748;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.1725;
                letter-spacing: 0.09rem;
              }
            }
            .icon-in-circle-PPU {
              width: 4.8rem;
              height: 4.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .bottom-section-8rr {
            margin-left: 0.1rem;
            display: flex;
            align-items: flex-start;

            .icons-arrow-up-14px-green-500-gtN {
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.1rem 0.6rem 0rem 0rem;
              text-align: center;
              font-size: 1.4rem;
              font-weight: 400;
              color: #48bb78;
              white-space: nowrap;
            }
            .text-Bq8 {
              flex-shrink: 0;
              margin-right: 0.3rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1725;
              letter-spacing: 0.0601rem;
              font-family: Roboto, 'Source Sans Pro';
              color: #48bb78;
              white-space: nowrap;
            }
            .text-2qk {
              letter-spacing: 0.02rem;
              color: #a0aec0;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.1725;
            }
          }
        }
      }
      .analisa-kegiatan-uee {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.6rem;

        .auto-group-chdh-TRG {
          margin-bottom: 2rem;
          width: 100%;
          height: 4rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .date-filter-bXU {
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
            margin-right: 97.1rem;
            box-sizing: border-box;
            padding: 0.9rem 1.5rem 0.9rem 1.65rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .calendar-vpe {
              margin-right: 0.95rem;
              width: 1.5rem;
              height: 1.65rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .dec-29-2023-jan-4-2024-ryC {
              line-height: 1.5714285714;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          .daily-filter-XZY {
            box-sizing: border-box;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
            flex-shrink: 0;
            background-color: #ffffff;
            border-radius: 0.4rem;
            padding: 0.9rem 1.875rem 0.9rem 1.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;

            .harian-s7c {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              display: flex;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.175rem;
            }
            .chevron-down-myg {
              width: 1.05rem;
              height: 0.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .analisa-kegiatan-4Sz {
          box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
          flex-shrink: 0;
          flex-direction: column;
          border: solid 0.1rem #e2e8f0;
          width: 100%;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.2rem;
          box-sizing: border-box;
          padding: 3rem 3rem 2.8rem 3.5rem;

          .analisa-kegiatan-pelayanan-bC2 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.7rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.2727272727;
            color: #212b36;
            font-family: Roboto, 'Source Sans Pro';
          }
          .content-inS {
            width: 122.2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-left: 0.3rem;

            .auto-group-albh-G3G {
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .number-RB4 {
                margin-right: 2rem;
                font-size: 1.4rem;
                flex-shrink: 0;
                text-align: right;
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .line-530-9Mx {
                flex-shrink: 0;
                margin-bottom: 0.1rem;
                width: 117.8rem;
                height: 0.1rem;
                background-color: #e2e8f0;
              }
            }
            .auto-group-x5so-HDG {
              width: 100%;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .auto-group-wzeo-e3p {
                row-gap: 3.3rem;
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 2rem;

                .number-P1Q {
                  text-align: right;
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5714285714;
                  color: #64748b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .number-Kve {
                  flex-shrink: 0;
                  text-align: right;
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5714285714;
                  color: #64748b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .number-598 {
                  font-weight: 500;
                  line-height: 1.5714285714;
                  color: #64748b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: right;
                  font-size: 1.4rem;
                }
                .number-24N {
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5714285714;
                  color: #64748b;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: right;
                }
              }
              .auto-group-g7jw-9en {
                border-bottom: dashed 0.1rem #e2e8f0;
                box-sizing: border-box;
                flex-shrink: 0;
                margin-bottom: 1.1rem;
                width: 117.8rem;
                height: 20.9rem;

                .auto-group-1zvt-VTk {
                  width: 117.8rem;
                  height: 20.8rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .auto-group-fnsk-Qqc {
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.7rem;
              display: flex;

              .week-HPc {
                text-align: center;
                font-weight: 500;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 2.8rem;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                white-space: nowrap;
              }
              .week-Qz2 {
                flex-shrink: 0;
                text-align: center;
                font-weight: 500;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 2.8rem;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                color: #64748b;
              }
              .week-jWW {
                font-weight: 500;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.8rem;
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.5714285714;
              }
              .week-ThQ {
                margin-right: 2.8rem;
                text-align: center;
                font-weight: 500;
                line-height: 1.5714285714;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.4rem;
                color: #64748b;
                white-space: nowrap;
              }
              .week-oFU {
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                line-height: 1.5714285714;
                margin-right: 2.8rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .week-8oY {
                color: #64748b;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.9rem;
                text-align: center;
                line-height: 1.5714285714;
                font-size: 1.4rem;
                font-weight: 500;
                font-family: Roboto, 'Source Sans Pro';
              }
              .week-5Cz {
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.7rem;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                font-weight: 500;
              }
              .week-1MY {
                margin-right: 2.8rem;
                text-align: center;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .week-kK8 {
                font-size: 1.4rem;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 2.7rem;
                text-align: center;
                font-weight: 500;
                flex-shrink: 0;
              }
              .week-Ukv {
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 2.3rem;
                text-align: center;
                font-size: 1.4rem;
                white-space: nowrap;
              }
              .week-cML {
                text-align: center;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 2.2rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
                flex-shrink: 0;
              }
              .week-wuQ {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                margin-right: 2.4rem;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .week-HTU {
                text-align: center;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 2.4rem;
                font-size: 1.4rem;
                font-weight: 500;
                flex-shrink: 0;
              }
              .week-E7p {
                line-height: 1.5714285714;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.4rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
              }
              .week-My8 {
                font-family: Roboto, 'Source Sans Pro';
                line-height: 1.5714285714;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                color: #64748b;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.4rem;
              }
              .week-hGJ {
                margin-right: 2.3rem;
                text-align: center;
                color: #64748b;
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                font-family: Roboto, 'Source Sans Pro';
              }
              .week-35G {
                font-weight: 500;
                line-height: 1.5714285714;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 2.4rem;
                text-align: center;
                font-size: 1.4rem;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
              }
              .week-a5C {
                white-space: nowrap;
                margin-right: 2.4rem;
                text-align: center;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                flex-shrink: 0;
              }
              .week-K2n {
                margin-right: 2.5rem;
                text-align: center;
                font-weight: 500;
                color: #64748b;
                white-space: nowrap;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .week-T8z {
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                margin-right: 2.4rem;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
              .week-nh4 {
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                margin-right: 2.4rem;
                text-align: center;
                font-size: 1.4rem;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .week-jMQ {
                text-align: center;
                font-weight: 500;
                font-family: Roboto, 'Source Sans Pro';
                margin-right: 2.6rem;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                color: #64748b;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .week-UJz {
                margin-right: 2.6rem;
                font-size: 1.4rem;
                font-weight: 500;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                line-height: 1.5714285714;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
              }
              .week-QiS {
                line-height: 1.5714285714;
                flex-shrink: 0;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 2.5rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
              }
              .week-YZk {
                font-weight: 500;
                line-height: 1.5714285714;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 2.6rem;
                font-size: 1.4rem;
                white-space: nowrap;
                text-align: center;
                color: #64748b;
              }
              .week-H1Y {
                font-size: 1.4rem;
                font-weight: 500;
                color: #64748b;
                margin-right: 2.5rem;
                text-align: center;
                line-height: 1.5714285714;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .week-QM4 {
                white-space: nowrap;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 2.6rem;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
              }
              .week-8nr {
                margin-right: 2.6rem;
                text-align: center;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
              }
              .week-H9x {
                margin-right: 2.6rem;
                font-weight: 500;
                white-space: nowrap;
                flex-shrink: 0;
                font-family: Roboto, 'Source Sans Pro';
                text-align: center;
                font-size: 1.4rem;
                line-height: 1.5714285714;
                color: #64748b;
              }
              .week-RGA {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.5714285714;
                color: #64748b;
              }
            }
          }
        }
      }
      .registrasi-pengguna-baru-J54 {
        border: solid 0.1rem #e2e8f0;
        box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
        border-radius: 0.2rem;
        flex-shrink: 0;
        width: 100%;
        height: 53.4rem;
        background-color: #ffffff;
        position: relative;
        box-sizing: border-box;

        .registrasi-pengguna-terbaru-PsC {
          white-space: nowrap;
          width: 26.2rem;
          height: 2.6rem;
          position: absolute;
          left: 3.5rem;
          top: 2.5rem;
          font-weight: 700;
          font-size: 2rem;
          line-height: 1.3;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
        }
        .line-199-gLW {
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 21.9rem;
          background-color: #e2e8f0;
          width: 125rem;
        }
        .line-200-cEA {
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 29.5rem;
          background-color: #e2e8f0;
        }
        .line-201-wnE {
          left: 2rem;
          top: 37.1rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-202-V34 {
          left: 2rem;
          top: 44.7rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
        }
        .item-1-22z {
          align-items: center;
          width: 120.2rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 15.7rem;
          display: flex;

          .nama-DNN {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 8.3rem;

            .ellipse-2810-MzN {
              background-position: center;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              flex-shrink: 0;
              width: 4.8rem;
              background-size: 100% 100%;
              border-radius: 2.4rem;
            }
            .denisa-dhaniswara-GrS {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .item-9361549288762183-13L {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .jalan-cikutra-baru-raya-no1-iyL {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-590-FiN {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 18.4rem;
            text-align: center;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
          }
          .januari-2023-yPU {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
        }
        .item-2-7En {
          align-items: center;
          width: 120.2rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 23.3rem;
          display: flex;

          .nama-S2A {
            flex-shrink: 0;
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            align-items: center;

            .ellipse-2810-nri {
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              background-repeat: no-repeat;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 100%;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
            }
            .angeeta-sentana-iVU {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-9361549288762184-rLn {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
          }
          .jalan-cikutra-baru-raya-no1-myY {
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-467-6kv {
            white-space: nowrap;
            font-weight: 500;
            color: #1c2434;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 18.4rem;
            text-align: center;
          }
          .januari-2023-RoC {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .item-3-9z6 {
          position: absolute;
          left: 3.8rem;
          top: 30.9rem;
          display: flex;
          align-items: center;
          width: 120.2rem;
          height: 4.8rem;

          .nama-tRt {
            margin-right: 12.4rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-FGS {
              height: 4.8rem;
              background-size: 100% 178.571%;
              background-position: 0 -3.044rem;
              background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;

              .ellipse-2810-FGS-bg {
                height: 4.8rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
                width: 4.8rem;
              }
            }
            .chibi-maruko-vNa {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-9361549288762185-TNW {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .jalan-cikutra-baru-raya-no1-AGv {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-420-sx2 {
            margin-right: 18.4rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #1c2434;
          }
          .januari-2023-Qwx {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0rem;
          }
        }
        .item-4-9uY {
          width: 120.2rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 38.5rem;
          display: flex;
          align-items: center;

          .nama-Ugv {
            margin-right: 8.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-S7x {
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              flex-shrink: 0;
              width: 4.8rem;
              height: 4.8rem;
              background-position: center;
              border-radius: 2.4rem;
              margin-right: 1.3rem;
            }
            .denisa-dhaniswara-Ywg {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .item-9361549288762186-V6E {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
          }
          .jalan-cikutra-baru-raya-no1-Bze {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-389-s6n {
            margin: 0rem 18.4rem 0rem 0rem;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-weight: 500;
            color: #1c2434;
            flex-shrink: 0;
          }
          .januari-2023-kRU {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .item-5-V8A {
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 46.1rem;
          display: flex;
          align-items: center;
          width: 120.2rem;

          .nama-Qkv {
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-x1k {
              background-position: center;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-size: 100% 100%;
              border-radius: 2.4rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
            }
            .angeeta-sentana-GYE {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .item-9361549288762187-1Vp {
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .jalan-cikutra-baru-raya-no1-jwc {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-230-HCS {
            margin: 0rem 18.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .januari-2023-oRg {
            flex-shrink: 0;
            margin-bottom: 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-zfc3-vmC {
          align-items: center;
          width: 119.6rem;
          height: 6.3rem;
          position: absolute;
          left: 2rem;
          top: 7.6rem;
          display: flex;

          .auto-group-hltp-FoU {
            margin-right: 7rem;
            width: 103.3rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .rectangle-4978-CCv {
              left: 0;
              top: 0;
              background-color: #f7f9fc;
              border-radius: 0.3rem;
              width: 102.9rem;
              height: 6.3rem;
              position: absolute;
            }
            .nama-iwx {
              left: 2rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              white-space: nowrap;
              width: 3.8rem;
              height: 2.2rem;
              position: absolute;
              top: 1.9rem;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
            }
            .nomor-id-EvJ {
              line-height: 1.5714285714;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              width: 6rem;
              height: 2.2rem;
              top: 1.9rem;
              font-weight: 500;
              color: #64748b;
              position: absolute;
              left: 29.9rem;
              font-size: 1.4rem;
            }
            .alamat-kdk {
              line-height: 1.5714285714;
              color: #64748b;
              width: 4.5rem;
              position: absolute;
              top: 1.9rem;
              font-weight: 500;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.2rem;
              left: 52.9rem;
              font-size: 1.4rem;
            }
            .total-layanan-di-pakai-sTU {
              width: 14.4rem;
              height: 2.2rem;
              position: absolute;
              left: 88.9rem;
              line-height: 1.5714285714;
              font-family: Roboto, 'Source Sans Pro';
              top: 1.9rem;
              font-size: 1.4rem;
              font-weight: 500;
              color: #64748b;
              white-space: nowrap;
            }
          }
          .tanggal-daftar-AxN {
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
          }
        }
      }
    }
  }
}
