
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.kunjungan-tsx {
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .sidebar-qYJ {
    height: 132rem;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    background-color: #1c2434;
    box-sizing: border-box;
    padding: 4rem 2.5rem 71.6rem 2.5rem;
    width: 28rem;

    .logo-YBp {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.7rem 4.577rem 1.5rem;
      width: calc(100% - 2.2rem);
      cursor: pointer;

      .shape-fGS {
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 3.2rem;
      }
      .namaproduk-oNe {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .menu-viA {
      margin: 0rem 16rem 1.223rem 0rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #8a99af;
      flex-shrink: 0;
      line-height: 1.4285714286;
      text-transform: uppercase;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .dashboard-q4S {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      padding: 0.8rem 10.9rem 0.8rem 1.579rem;
      background-color: #1c2434;
      border-radius: 0.3rem;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      display: flex;

      .grid-alt-khC {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.079rem 0.006rem 0rem;
        width: 1.6425rem;
        height: 1.6031rem;
        object-fit: contain;
      }
      .dashboard-5Dg {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .staff-o9g {
      padding: 0.8rem 15.2rem 0.8rem 1.527rem;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      border-radius: 0.3rem;

      .medical-icon-i-care-staff-area-8hk {
        width: 1.7362rem;
        height: 1.7618rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.037rem 0.009rem 0rem;
      }
      .staff-rNr {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .dokter-Nc6 {
      display: flex;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      padding: 0.8rem 14.225rem 0.8rem 1.5rem;
      border-radius: 0.3rem;

      .fa6-solid-user-doctor-VRp {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 1.575rem;
        height: 1.8rem;
      }
      .dokter-RaN {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .pasien-9WN {
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      padding: 0.8rem 13.8rem 0.8rem 1.8rem;
      background-color: #1c2434;

      .fluent-patient-24-filled-sxA {
        height: 1.5004rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.3rem 0rem 0rem;
        width: 1.2rem;
      }
      .pasien-b7U {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .kunjungan-iht {
      background-color: #333a48;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      padding: 0.8rem 11.1rem 0.8rem 1.8rem;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;

      .mdi-patient-414 {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .kunjungan-C7G {
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .obat-v3G {
      padding: 0.8rem 15.3rem 0.8rem 1.8rem;
      width: 100%;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;

      .icon-park-solid-medicine-bottle-one-SXQ {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .obat-AyC {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .layanan-JZc {
      width: 100%;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      padding: 0.8rem 12.7rem 0.8rem 1.594rem;
      display: flex;
      border-radius: 0.3rem;
      box-sizing: border-box;

      .ri-service-fill-e7g {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.018rem 1.094rem 0rem 0rem;
        width: 1.6116rem;
        height: 1.4331rem;
      }
      .layanan-kAi {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .spesialisasi-fHg {
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 0.8rem 10.2rem 0.8rem 1.74rem;
      align-items: center;

      .maki-doctor-z54 {
        flex-shrink: 0;
        margin-right: 1.18rem;
        width: 1.38rem;
        height: 1.56rem;
        object-fit: contain;
        vertical-align: top;
      }
      .spesialisasi-7vN {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .cms-Sxe {
      flex-shrink: 0;
      padding: 0.8rem 15.3rem 0.8rem 1.613rem;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;

      .carbon-cloud-service-management-nWi {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1125rem;
        width: 1.575rem;
        height: 1.575rem;
        position: relative;
      }
      .cms-KWe {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .setting-FfC {
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.6rem 0.8rem 1.656rem;
      width: 100%;

      .ant-design-setting-filled-C4e {
        margin: 0.001rem 1.155rem 0rem 0rem;
        width: 1.4897rem;
        height: 1.5728rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .setting-uze {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-vomq-q7c {
    width: 138rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .topbar-nYe {
      height: 8rem;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.7rem 3rem 1.7rem 3.5rem;
      box-shadow: 0 0.1rem 0 #e2e8f0;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .search-WUe {
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 86.9rem 1.3rem 0rem;
        box-sizing: border-box;
        padding-left: 0.1667rem;
        height: calc(100% - 2.6rem);
        display: flex;

        .search-2-cGn {
          width: 1.6667rem;
          height: 1.6667rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.167rem 0rem 0rem;
        }
        .type-to-search-6Sr {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.4285714286;
          color: #637381;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .notification-pte {
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .message-ZrE {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.8rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
      }
      .user-JJ2 {
        box-sizing: border-box;
        padding-right: 0.4167rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-9wph-EhU {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 1.5rem 0.5rem 0rem;
          height: calc(100% - 1.1rem);

          .harper-kinanti-Ab8 {
            font-weight: 400;
            line-height: 1.4285714286;
            white-space: nowrap;
            margin-bottom: 0.1rem;
            text-align: right;
            font-size: 1.4rem;
            color: #212b36;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .administrasi-tX8 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #637381;
          }
        }
        .ellipse-2824-2dL {
          background-repeat: no-repeat;
          margin-right: 1.4167rem;
          width: 4.6rem;
          height: 4.6rem;
          background-size: 100% 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:764408efd316b9785ad155fc6738f0a18dd0c978');
          border-radius: 2.3rem;
          flex-shrink: 0;
        }
        .chevron-down-2-1-wEW {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 1.1667rem;
          height: 0.6667rem;
        }
      }
    }
    .auto-group-5qsw-RfU {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.5rem 3.7rem 0rem 4.4rem;
      width: 100%;
      align-items: center;

      .auto-group-t663-MZ8 {
        flex-shrink: 0;
        margin: 0rem 0.8rem 3rem 0.1rem;
        width: calc(100% - 0.9rem);
        height: 4.8rem;
        display: flex;
        align-items: center;

        .pencarian-4iS {
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.1rem #3c50e0;
          margin-right: 92.2rem;
          box-sizing: border-box;
          padding: 1.2rem 2.5rem 1.2rem 2.75rem;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .material-symbols-search-rounded-NDL {
            width: 1.4667rem;
            height: 1.4646rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.283rem 0.035rem 0rem;
          }
          .pencarian-gUv {
            color: #3c50e0;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .tambah-pasien-nnr {
          padding: 1.2rem 2.5rem 1.2rem 2.875rem;
          height: 100%;
          display: flex;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          align-items: center;
          background-color: #3c50e0;
          cursor: pointer;

          .material-symbols-add-veA {
            width: 1.05rem;
            height: 1.05rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.375rem;
          }
          .tambah-kunjungan-fLr {
            line-height: 1.5;
            color: #f8fafc;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
      .auto-group-barb-cfQ {
        margin: 0rem 0.9rem 3rem 0rem;
        width: calc(100% - 0.9rem);
        height: 4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .date-filter-whg {
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          background-color: #ffffff;
          border-radius: 0.4rem;
          height: 100%;
          align-items: center;
          border: solid 0.1rem #e2e8f0;
          display: flex;
          flex-shrink: 0;
          margin-right: 97.1rem;
          box-sizing: border-box;
          padding: 0.9rem 1.5rem 0.9rem 1.65rem;

          .calendar-srE {
            margin-right: 0.95rem;
            width: 1.5rem;
            height: 1.65rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dec-29-2023-jan-4-2024-ozn {
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
          }
        }
        .daily-filter-V6v {
          padding: 0.9rem 1.875rem 0.9rem 1.5rem;
          display: flex;
          border: solid 0.1rem #e2e8f0;
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);

          .harian-RWN {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 1.175rem;
            display: flex;
            flex-shrink: 0;
          }
          .chevron-down-xFQ {
            width: 1.05rem;
            height: 0.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .registrasi-pengguna-baru-SAa {
        align-items: center;
        border-radius: 0.2rem;
        margin: 0rem 0.7rem 10rem 0rem;
        box-sizing: border-box;
        padding: 2.5rem 2rem 2.4rem 2rem;
        border: solid 0.1rem #e2e8f0;
        box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
        background-color: #ffffff;
        flex-shrink: 0;
        width: 129rem;
        display: flex;
        flex-direction: column;

        .auto-group-jkfd-Hgz {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3rem 1.8rem 0rem;
          width: calc(100% - 3rem);
          height: 6.3rem;

          .auto-group-nxpp-cjG {
            flex-shrink: 0;
            margin-right: 4.3rem;
            width: 108.5rem;
            height: 100%;
            position: relative;

            .rectangle-4978-Ysp {
              border-radius: 0.3rem;
              width: 102.9rem;
              height: 6.3rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #f7f9fc;
            }
            .dokter-sv6 {
              font-family: Roboto, 'Source Sans Pro';
              height: 2.2rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              width: 4.2rem;
              position: absolute;
              left: 2rem;
              top: 1.9rem;
              white-space: nowrap;
            }
            .pasien-PNe {
              top: 1.9rem;
              line-height: 1.5714285714;
              color: #64748b;
              left: 26.9rem;
              height: 2.2rem;
              position: absolute;
              font-size: 1.4rem;
              font-weight: 500;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              width: 4.3rem;
            }
            .poli-layanan-heE {
              font-size: 1.4rem;
              white-space: nowrap;
              left: 54.9rem;
              top: 1.9rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              width: 8.4rem;
              height: 2.2rem;
              position: absolute;
              font-family: Roboto, 'Source Sans Pro';
            }
            .waktu-Cqt {
              height: 2.2rem;
              position: absolute;
              font-weight: 500;
              color: #64748b;
              white-space: nowrap;
              width: 4rem;
              left: 72.7rem;
              top: 1.9rem;
              font-size: 1.4rem;
              line-height: 1.5714285714;
              font-family: Roboto, 'Source Sans Pro';
            }
            .nomor-antrian-ipE {
              font-weight: 500;
              line-height: 1.5714285714;
              white-space: nowrap;
              width: 9.2rem;
              height: 2.2rem;
              font-size: 1.4rem;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              position: absolute;
              left: 99.3rem;
              top: 1.9rem;
            }
            .asuransi-Ena {
              height: 2.2rem;
              position: absolute;
              font-weight: 500;
              color: #64748b;
              white-space: nowrap;
              width: 5.6rem;
              left: 86.3rem;
              top: 1.9rem;
              font-size: 1.4rem;
              line-height: 1.5714285714;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .nomor-antrian-jzE {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .item-1-g8n {
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;

          .dokter-z9U {
            flex-shrink: 0;
            margin-right: 9.1rem;
            height: 100%;
            display: flex;
            align-items: center;

            .ellipse-2810-jcr {
              width: 4.8rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 1.3rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              border-radius: 2.4rem;
              flex-shrink: 0;
            }
            .tony-chopper-rSa {
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .nama-PhQ {
            margin-right: 8.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-9ga {
              height: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-position: center;
            }
            .denisa-dhaniswara-fev {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .poli-umum-1Cz {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.5rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-1300-jug {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.9rem;
            font-weight: 500;
          }
          .bpjs-f2e {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-123-z4v {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.4667rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .material-symbols-print-X4r {
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-199-evA {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-2-zj8 {
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;

          .dokter-ubC {
            margin: 0rem 9.1rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-EtN {
              background-position: center;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
            }
            .tony-chopper-m7c {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .nama-hX4 {
            margin: 0rem 9.6rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-F2n {
              background-size: 100% 100%;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              height: 4.8rem;
              background-repeat: no-repeat;
            }
            .angeeta-sentana-N7Q {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .poli-umum-WDc {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-1300-EfQ {
            margin: 0rem 9.9rem 0rem 0rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .bpjs-kNr {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-124-UZk {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
          }
          .material-symbols-print-bPU {
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-200-iyt {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-3-4nr {
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .dokter-zAi {
            flex-shrink: 0;
            margin: 0rem 9.1rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;

            .ellipse-2810-822 {
              margin-right: 1.3rem;
              width: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              flex-shrink: 0;
              height: 4.8rem;
              background-position: center;
              border-radius: 2.4rem;
            }
            .tony-chopper-DpA {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .nama-ZNE {
            margin: 0rem 12.3rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-tvJ {
              background-size: 100% 178.571%;
              background-position: 0 -3.044rem;
              background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;

              .ellipse-2810-tvJ-bg {
                width: 4.8rem;
                height: 4.8rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              }
            }
            .chibi-maruko-AN2 {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .poli-umum-JDL {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.5rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-1300-qUA {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            margin: 0rem 9.9rem 0rem 0rem;
            text-align: center;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .bpjs-Lfp {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-125-ru4 {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.4667rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .material-symbols-print-Vh8 {
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-201-2h4 {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-4-aia {
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .dokter-JPg {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 9.1rem;

            .ellipse-2810-4Nr {
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-position: center;
              width: 4.8rem;
              background-size: 100% 100%;
            }
            .tony-chopper-PR8 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
            }
          }
          .nama-LLN {
            flex-shrink: 0;
            margin-right: 8.2rem;
            height: 100%;
            display: flex;
            align-items: center;

            .ellipse-2810-hRp {
              margin-right: 1.3rem;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              flex-shrink: 0;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.4rem;
            }
            .denisa-dhaniswara-pFY {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .poli-umum-92v {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
          }
          .item-1300-rxv {
            flex-shrink: 0;
            margin: 0rem 9.9rem 0rem 0rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .bpjs-NwG {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-126-ikE {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
          }
          .material-symbols-print-Sw8 {
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6667rem;
          }
        }
        .auto-group-c11y-PbU {
          height: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          width: 125rem;
        }
        .item-5-vbQ {
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .dokter-qTU {
            margin: 0rem 9.1rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-NTQ {
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              border-radius: 2.4rem;
              width: 4.8rem;
              height: 4.8rem;
              background-position: center;
              flex-shrink: 0;
              margin-right: 1.3rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .tony-chopper-6PQ {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .nama-33k {
            margin: 0rem 9.6rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-P7c {
              height: 4.8rem;
              flex-shrink: 0;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              border-radius: 2.4rem;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .angeeta-sentana-JVU {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .poli-umum-r1C {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-1300-y5p {
            white-space: nowrap;
            margin: 0rem 9.9rem 0rem 0rem;
            text-align: center;
            font-weight: 500;
            color: #1c2434;
            font-size: 1.6rem;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .bpjs-HMQ {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-127-cuU {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .material-symbols-print-kVt {
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-204-VCa {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-6-Evr {
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .dokter-Mka {
            margin-right: 9.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-i5L {
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              border-radius: 2.4rem;
              width: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              flex-shrink: 0;
            }
            .tony-chopper-pu4 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .nama-mZQ {
            flex-shrink: 0;
            margin-right: 8.2rem;
            height: 100%;
            display: flex;
            align-items: center;

            .ellipse-2810-8Px {
              width: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              background-repeat: no-repeat;
              height: 4.8rem;
            }
            .denisa-dhaniswara-rqk {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .poli-umum-oFC {
            margin-right: 9.5rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-1300-j8r {
            white-space: nowrap;
            margin-right: 9.9rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .bpjs-3QS {
            margin-right: 9.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-128-bB4 {
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .material-symbols-print-JrA {
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-205-RA6 {
          flex-shrink: 0;
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
        }
        .item-7-weE {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;

          .dokter-rFQ {
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 9.1rem 0rem 0rem;

            .ellipse-2810-nuk {
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-position: center;
              border-radius: 2.4rem;
              height: 4.8rem;
              background-size: 100% 100%;
            }
            .tony-chopper-K8z {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .nama-ewx {
            margin: 0rem 9.6rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-zkv {
              width: 4.8rem;
              height: 4.8rem;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              flex-shrink: 0;
              margin-right: 1.3rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.4rem;
            }
            .angeeta-sentana-XF4 {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .poli-umum-4Ez {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-1300-nAz {
            font-size: 1.6rem;
            font-weight: 500;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            margin: 0rem 9.9rem 0rem 0rem;
            text-align: center;
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .bpjs-hYr {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-129-Eog {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .material-symbols-print-Nez {
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-hwux-7ca {
          width: 125rem;
          height: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.3rem;
        }
        .item-8-TRY {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;

          .dokter-ZUa {
            flex-shrink: 0;
            margin: 0rem 9.1rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;

            .ellipse-2810-W8v {
              width: 4.8rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.4rem;
              flex-shrink: 0;
            }
            .tony-chopper-qBC {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .nama-mae {
            margin: 0rem 12.3rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-WYE {
              background-position: 0 -3.044rem;
              background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 178.571%;

              .ellipse-2810-WYE-bg {
                width: 4.8rem;
                height: 4.8rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              }
            }
            .chibi-maruko-BeN {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .poli-umum-Kka {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.5rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-1300-Gfp {
            flex-shrink: 0;
            margin: 0rem 9.9rem 0rem 0rem;
            font-weight: 500;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            color: #1c2434;
          }
          .bpjs-PkS {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-130-vkN {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.4667rem;
          }
          .material-symbols-print-GJS {
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-208-oZG {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-9-Ymk {
          height: 4.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;

          .dokter-fLa {
            margin-right: 9.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-2B8 {
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
              flex-shrink: 0;
              width: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              border-radius: 2.4rem;
            }
            .tony-chopper-wot {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .nama-psg {
            margin-right: 8.2rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-BTL {
              height: 4.8rem;
              background-size: 100% 100%;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
            }
            .denisa-dhaniswara-Viv {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .poli-umum-S8N {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-1300-mRY {
            color: #1c2434;
            white-space: nowrap;
            text-align: center;
            font-weight: 500;
            line-height: 1.5;
            flex-shrink: 0;
            margin: 0rem 9.9rem 0rem 0rem;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
          }
          .bpjs-V6e {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-131-E4E {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .material-symbols-print-Mee {
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-209-JJz {
          margin-bottom: 1.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-10-FV8 {
          flex-shrink: 0;
          margin: 0rem 4.8rem 1.4rem 0rem;
          box-sizing: border-box;
          padding-right: 0.1667rem;
          height: 4.8rem;
          display: flex;
          align-items: center;

          .dokter-A6J {
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 9.1rem 0rem 0rem;

            .ellipse-2810-JTQ {
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-image: url('REPLACE_IMAGE:bc228716dfb589af0bff22b314f5707b82b27cc4');
            }
            .tony-chopper-dVg {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
          }
          .nama-yJe {
            margin: 0rem 9.6rem 0rem 0rem;
            height: calc(100% - 0rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-vDt {
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              border-radius: 2.4rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              margin-right: 1.3rem;
              flex-shrink: 0;
            }
            .angeeta-sentana-SCE {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .poli-umum-B9p {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.5rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-1300-urW {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            white-space: nowrap;
            margin: 0rem 9.9rem 0rem 0rem;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .bpjs-dXc {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 9.2rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-132-NEJ {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.467rem 0rem 0rem;
          }
          .material-symbols-print-J7x {
            margin-bottom: 0rem;
            width: 1.6667rem;
            height: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .line-210-RyG {
          background-color: #e2e8f0;
          flex-shrink: 0;
          width: 100%;
          height: 0.1rem;
        }
      }
      .paginasi-XFc {
        align-items: center;
        flex-shrink: 0;
        margin-left: 0.1rem;
        display: flex;

        .show-eb8 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 0.6rem 0rem 0rem;
        }
        .filter-ydQ {
          flex-shrink: 0;
          margin: 0.1rem 1rem 0rem 0rem;
          box-sizing: border-box;
          padding: 1.2rem 2.5rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;

          .item-10-GsQ {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.7142857143;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            margin-right: 1rem;
            font-weight: 500;
          }
          .tabler-triangle-inverted-filled-oMY {
            width: 1.3rem;
            height: 1.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .showing-1-to-10-of-1369-results-6rS {
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 44.7rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
        }
        .sebelumnya-pGe {
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 0.9rem 0rem 0rem;
          font-size: 1.4rem;
        }
        .item-1-YCe {
          border-radius: 0.5rem 0 0 0.5rem;
          margin-bottom: 0.1rem;
          text-align: center;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          height: 4.8rem;
          display: flex;
          background-color: #3c50e0;
          font-size: 1.6rem;
          color: #f8fafc;
          width: 4rem;
          line-height: 1.5;
          align-items: center;
          flex-shrink: 0;
        }
        .item-2-1c2 {
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          line-height: 1.5;
          font-weight: 500;
          display: flex;
          width: 4rem;
          height: 4.8rem;
          font-size: 1.6rem;
          margin-bottom: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-3-uSW {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 4.8rem;
          text-align: center;
          font-weight: 500;
          display: flex;
          width: 4rem;
          font-size: 1.6rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          line-height: 1.5;
          justify-content: center;
          background-color: #e2e8f0;
        }
        .item-4-zyk {
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.1rem;
          height: 4.8rem;
          font-weight: 500;
          display: flex;
          line-height: 1.5;
          color: #000000;
          align-items: center;
          justify-content: center;
          width: 4rem;
          text-align: center;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .item-5-uL2 {
          margin-bottom: 0.1rem;
          width: 4rem;
          justify-content: center;
          background-color: #e2e8f0;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          height: 4.8rem;
          font-size: 1.6rem;
          display: flex;
          flex-shrink: 0;
        }
        .item-6-Cpv {
          flex-shrink: 0;
          height: 4.8rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          justify-content: center;
          white-space: nowrap;
          background-color: #e2e8f0;
          font-size: 1.6rem;
          display: flex;
          margin-bottom: 0.1rem;
          width: 4.4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
        }
        .auto-group-gh2x-W4v {
          height: 4.8rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1rem 0.1rem 0rem;
          width: 10.2rem;

          .item-7-2JA {
            height: 4.8rem;
            top: 0;
            font-size: 1.6rem;
            white-space: nowrap;
            width: 5.8rem;
            font-weight: 500;
            justify-content: center;
            text-align: center;
            line-height: 1.5;
            align-items: center;
            background-color: #e2e8f0;
            position: absolute;
            left: 0;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
          }
          .item-8-KYA {
            position: absolute;
            left: 4.4rem;
            display: flex;
            font-size: 1.6rem;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            border-radius: 0 0.5rem 0.5rem 0;
            height: 4.8rem;
            top: 0;
            background-color: #e2e8f0;
            justify-content: center;
            width: 5.8rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.5;
            white-space: nowrap;
          }
        }
        .selanjutnya-QJi {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
        }
      }
    }
  }
}
