
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.notification-modal-vx6 {
  width: 100%;
  height: 37.8rem;

  .notification-modal-gAa {
    border: solid 0.1rem #e2e8f0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 1.2rem 0rem 1.2rem 0rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
    border-radius: 0.2rem;
    width: 100%;
    height: 100%;

    .notification-zh4 {
      line-height: 1.5714285714;
      color: #8a99af;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 1.2rem 1.8rem;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .line-627-uJE {
      height: 0.1rem;
      background-color: #e2e8f0;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;
    }
    .auto-group-ewcs-EbQ {
      width: 100%;
      height: 30.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-5122-PDQ {
        height: 9.1rem;
        position: absolute;
        left: 0.1rem;
        top: 10rem;
        background-color: #f7f9fc;
        width: 31.8rem;
      }
      .content-JbG {
        flex-direction: column;
        width: 32rem;
        height: 30.8rem;
        position: absolute;
        left: 0;
        top: 0;
        align-items: center;
        display: flex;

        .content-1-Ejp {
          margin: 0rem 5rem 1.2rem 1.8rem;
          width: calc(100% - 6.8rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .edit-your-information-in-a-swipe-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-mDx {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            max-width: 25.2rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;

            .edit-your-information-in-a-swipe-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-mDx-sub-0 {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
            }
            .edit-your-information-in-a-swipe-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-mDx-sub-1 {
              font-family: Roboto, 'Source Sans Pro';
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
            }
          }
          .may-2025-8PG {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .line-628-eMc {
          margin-bottom: 1.1rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .content-2-PKC {
          margin: 0rem 2.2rem 1.2rem 1.8rem;
          width: calc(100% - 4rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-i6a {
            font-weight: 500;
            line-height: 1.5714285714;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1rem;
            max-width: 28rem;
            font-size: 1.4rem;

            .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-i6a-sub-0 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
            .it-is-a-long-established-fact-that-a-reader-will-be-distracted-by-the-readable-i6a-sub-1 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .feb-2025-jA6 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .line-628-4CN {
          margin-bottom: 1.1rem;
          width: 100%;
          height: 0.1rem;
          background-color: #e2e8f0;
          flex-shrink: 0;
        }
        .content-3-D5G {
          margin: 0 1.8rem;
          width: calc(100% - 3.6rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-Lva {
            flex-shrink: 0;
            margin-bottom: 1rem;
            max-width: 28.4rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';

            .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-Lva-sub-0 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
            }
            .there-are-many-variations-of-passages-of-lorem-ipsum-available-but-the-majority-have-suffered-Lva-sub-1 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .jan-2025-1fL {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
