
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.pasien-abG {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .sidebar-Wjp {
    height: 141.6rem;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #1c2434;
    box-sizing: border-box;
    padding: 4rem 2.5rem 81.2rem 2.5rem;
    width: 28rem;
    align-items: center;
    display: flex;

    .logo-QKQ {
      width: calc(100% - 2.2rem);
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.7rem 4.3rem 1.5rem;

      .shape-Xev {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .namaproduk-rx6 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .menu-NvS {
      text-transform: uppercase;
      color: #8a99af;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.4285714286;
      font-family: Roboto, 'Source Sans Pro';
      margin: 0rem 16rem 1.5rem 0rem;
    }
    .dashboard-tdt {
      margin-bottom: 0.6rem;
      padding: 0.8rem 10.9rem 0.8rem 1.579rem;
      width: 100%;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      background-color: #1c2434;
      border-radius: 0.3rem;

      .grid-alt-DRG {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.079rem 0.006rem 0rem;
        width: 1.6425rem;
        height: 1.6031rem;
      }
      .dashboard-82S {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .staff-dzn {
      margin-bottom: 0.6rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      box-sizing: border-box;
      padding: 0.8rem 15.2rem 0.8rem 1.527rem;
      flex-shrink: 0;

      .medical-icon-i-care-staff-area-yHx {
        margin: 0rem 1.037rem 0.009rem 0rem;
        width: 1.7362rem;
        height: 1.7618rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .staff-5rn {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .dokter-DTC {
      align-items: center;
      border-radius: 0.3rem;
      box-sizing: border-box;
      padding: 0.8rem 14.225rem 0.8rem 1.5rem;
      width: 100%;
      display: flex;
      margin-bottom: 0.6rem;
      background-color: #1c2434;
      flex-shrink: 0;

      .fa6-solid-user-doctor-8aA {
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 1.575rem;
      }
      .dokter-TMY {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .pasien-yqg {
      box-sizing: border-box;
      width: 100%;
      background-color: #333a48;
      margin-bottom: 0.6rem;
      padding: 0.8rem 13.8rem 0.8rem 1.8rem;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;

      .fluent-patient-24-filled-ujL {
        height: 1.5004rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.3rem 0rem 0rem;
        width: 1.2rem;
      }
      .pasien-qN6 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .kunjungan-xhc {
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-color: #1c2434;
      padding: 0.8rem 11.1rem 0.8rem 1.8rem;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;

      .mdi-patient-VhY {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .kunjungan-qmQ {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .obat-NFY {
      width: 100%;
      align-items: center;
      background-color: #1c2434;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      border-radius: 0.3rem;
      flex-shrink: 0;
      padding: 0.8rem 15.3rem 0.8rem 1.8rem;
      display: flex;

      .icon-park-solid-medicine-bottle-one-6SS {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .obat-cva {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .layanan-M7U {
      border-radius: 0.3rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      padding: 0.8rem 12.7rem 0.8rem 1.594rem;
      width: 100%;

      .ri-service-fill-USz {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.018rem 1.094rem 0rem 0rem;
        width: 1.6116rem;
        height: 1.4331rem;
        object-fit: contain;
      }
      .layanan-mwt {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .spesialisasi-HfL {
      box-sizing: border-box;
      padding: 0.8rem 10.2rem 0.8rem 1.74rem;
      display: flex;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 100%;
      align-items: center;
      background-color: #1c2434;

      .maki-doctor-1rE {
        margin-right: 1.18rem;
        width: 1.38rem;
        height: 1.56rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .spesialisasi-MQJ {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .cms-ghU {
      box-sizing: border-box;
      align-items: center;
      flex-shrink: 0;
      display: flex;
      background-color: #1c2434;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      padding: 0.8rem 15.3rem 0.8rem 1.613rem;
      width: 100%;

      .carbon-cloud-service-management-DxJ {
        margin-right: 1.1125rem;
        width: 1.575rem;
        height: 1.575rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cms-xQ6 {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .setting-HSN {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.6rem 0.8rem 1.656rem;

      .ant-design-setting-filled-2Px {
        margin: 0.001rem 1.155rem 0rem 0rem;
        width: 1.4897rem;
        height: 1.5728rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .setting-Y7Q {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-4i6k-3K4 {
    flex-direction: column;
    flex-shrink: 0;
    width: 138rem;
    align-items: center;
    display: flex;

    .topbar-b5g {
      width: 100%;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.7rem 3rem 1.7rem 3.5rem;
      height: 8rem;
      align-items: center;
      box-shadow: 0 0.1rem 0 #e2e8f0;
      flex-shrink: 0;

      .search-WCe {
        height: calc(100% - 2.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 86.9rem 1.3rem 0rem;
        box-sizing: border-box;
        padding-left: 0.1667rem;

        .search-2-dYA {
          width: 1.6667rem;
          height: 1.6667rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.167rem 0rem 0rem;
        }
        .type-to-search-m8a {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.4285714286;
          color: #637381;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .notification-J8W {
        margin-right: 1.5rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .message-3Lz {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.8rem;
        width: 3.4rem;
        height: 3.4rem;
      }
      .user-PQr {
        padding-right: 0.4167rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-ypq3-YHk {
          flex-shrink: 0;
          margin: 0.6rem 1.5rem 0.5rem 0rem;
          height: calc(100% - 1.1rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .harper-kinanti-GDk {
            color: #212b36;
            line-height: 1.4285714286;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            text-align: right;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .administrasi-aVL {
            color: #637381;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
          }
        }
        .ellipse-2824-Wtn {
          margin-right: 1.4167rem;
          height: 4.6rem;
          background-position: center;
          border-radius: 2.3rem;
          flex-shrink: 0;
          width: 4.6rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:764408efd316b9785ad155fc6738f0a18dd0c978');
        }
        .chevron-down-2-1-dTc {
          height: 0.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0rem;
          width: 1.1667rem;
        }
      }
    }
    .auto-group-vvwp-vxW {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.5rem 3.7rem 0rem 4.5rem;
      width: 100%;
      row-gap: 3rem;
      align-items: center;

      .auto-group-3rfd-TBk {
        margin-right: 0.8rem;
        width: calc(100% - 0.8rem);
        height: 4.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .pencarian-PLJ {
          margin-right: 94.9rem;
          box-sizing: border-box;
          padding: 1.2rem 2.5rem 1.2rem 2.75rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;
          height: 100%;
          border: solid 0.1rem #3c50e0;

          .material-symbols-search-rounded-VeE {
            flex-shrink: 0;
            margin: 0rem 1.283rem 0.035rem 0rem;
            width: 1.4667rem;
            height: 1.4646rem;
            object-fit: contain;
            vertical-align: top;
          }
          .pencarian-QmC {
            color: #3c50e0;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .tambah-pasien-7fc {
          background-color: #3c50e0;
          box-sizing: border-box;
          padding: 1.2rem 2.5rem 1.2rem 2.875rem;
          cursor: pointer;
          display: flex;
          height: 100%;
          align-items: center;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .material-symbols-add-eQe {
            margin-right: 1.375rem;
            width: 1.05rem;
            height: 1.05rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tambah-pasien-ap6 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #f8fafc;
          }
        }
      }
      .registrasi-pengguna-baru-tpn {
        width: 129rem;
        position: relative;
        border: solid 0.1rem #e2e8f0;
        background-color: #ffffff;
        border-radius: 0.2rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
        height: 87.7rem;
        box-sizing: border-box;
        box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);

        .line-199-bz6 {
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 16.8rem;
          background-color: #e2e8f0;
        }
        .line-200-8UE {
          top: 24.4rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
        }
        .line-201-U2J {
          left: 2rem;
          top: 32rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
        }
        .auto-group-ouv3-oqG {
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 39.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-204-LqC {
          top: 47.2rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
        }
        .line-205-GTx {
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 54.8rem;
          background-color: #e2e8f0;
        }
        .auto-group-5qhu-oTt {
          border-top: solid 0.1rem #e2e8f0;
          box-sizing: border-box;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 62.4rem;
        }
        .line-208-KBL {
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 70rem;
          background-color: #e2e8f0;
          width: 125rem;
        }
        .line-209-ezJ {
          height: 0.1rem;
          position: absolute;
          left: 2rem;
          top: 77.6rem;
          background-color: #e2e8f0;
          width: 125rem;
        }
        .line-210-Pwt {
          left: 2rem;
          top: 85.2rem;
          background-color: #e2e8f0;
          width: 125rem;
          height: 0.1rem;
          position: absolute;
        }
        .item-1-XoC {
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 10.6rem;
          display: flex;
          align-items: center;
          width: 112.3rem;

          .nama-esp {
            margin-right: 8.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-CeS {
              background-position: center;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
              flex-shrink: 0;
              height: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              margin-right: 1.3rem;
              width: 4.8rem;
            }
            .denisa-dhaniswara-7mQ {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-9361549288762183-3ux {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .jalan-cikutra-baru-raya-no1-yoc {
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-590-Jqt {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            color: #1c2434;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 18.4rem;
            font-family: Roboto, 'Source Sans Pro';
            line-height: 1.5;
          }
          .bpjs-EUe {
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .item-2-yh8 {
          position: absolute;
          left: 3.8rem;
          top: 18.2rem;
          display: flex;
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;

          .nama-72e {
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-TsC {
              border-radius: 2.4rem;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              height: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              flex-shrink: 0;
            }
            .angeeta-sentana-PF4 {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .item-9361549288762184-j42 {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .jalan-cikutra-baru-raya-no1-rPY {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .item-467-yyx {
            flex-shrink: 0;
            text-align: center;
            color: #1c2434;
            font-weight: 500;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 18.4rem;
            font-size: 1.6rem;
          }
          .bpjs-KH8 {
            margin-bottom: 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .item-3-FAn {
          position: absolute;
          left: 3.8rem;
          top: 25.8rem;
          display: flex;
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;

          .nama-AYe {
            align-items: center;
            flex-shrink: 0;
            margin-right: 12.4rem;
            height: 100%;
            display: flex;

            .ellipse-2810-vGv {
              background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 178.571%;
              background-position: 0 -3.044rem;

              .ellipse-2810-vGv-bg {
                width: 4.8rem;
                height: 4.8rem;
                position: relative;
                background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
              }
            }
            .chibi-maruko-CkE {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-9361549288762185-9fU {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .jalan-cikutra-baru-raya-no1-GEJ {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-420-BcA {
            font-weight: 500;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            font-size: 1.6rem;
            text-align: center;
            color: #1c2434;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 18.4rem;
          }
          .bpjs-KCa {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0rem;
            font-size: 1.6rem;
          }
        }
        .item-4-4R4 {
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 33.4rem;
          display: flex;

          .nama-nrr {
            margin-right: 8.3rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-xFY {
              width: 4.8rem;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              background-position: center;
            }
            .denisa-dhaniswara-gSS {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-9361549288762186-R98 {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .jalan-cikutra-baru-raya-no1-vbg {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
          }
          .item-389-FP4 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #1c2434;
            margin: 0rem 18.4rem 0rem 0rem;
            font-weight: 500;
            flex-shrink: 0;
          }
          .bpjs-yK4 {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-5-8Bx {
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 41rem;
          display: flex;
          align-items: center;

          .nama-45c {
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-1mY {
              height: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              background-repeat: no-repeat;
              border-radius: 2.4rem;
            }
            .angeeta-sentana-8rA {
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .item-9361549288762187-Fvn {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
          }
          .jalan-cikutra-baru-raya-no1-nfp {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-230-Kfk {
            margin: 0rem 18.4rem 0rem 0rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            color: #1c2434;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .bpjs-Rin {
            flex-shrink: 0;
            margin-bottom: 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-6-mXk {
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 48.6rem;
          display: flex;
          align-items: center;

          .nama-64E {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 8.3rem;

            .ellipse-2810-qnW {
              background-position: center;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
            }
            .denisa-dhaniswara-U4n {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-9361549288762183-ocr {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .jalan-cikutra-baru-raya-no1-LMt {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-590-sMp {
            color: #1c2434;
            font-weight: 500;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 18.4rem;
            text-align: center;
            font-size: 1.6rem;
          }
          .bpjs-oWN {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .item-7-Yyk {
          display: flex;
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 56.2rem;

          .nama-HRY {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 9.7rem;
            height: 100%;

            .ellipse-2810-qxr {
              width: 4.8rem;
              height: 4.8rem;
              flex-shrink: 0;
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              border-radius: 2.4rem;
              margin-right: 1.3rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .angeeta-sentana-y3U {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-9361549288762184-i14 {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .jalan-cikutra-baru-raya-no1-SSr {
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-467-aJA {
            margin-right: 18.4rem;
            text-align: center;
            font-weight: 500;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .bpjs-urE {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .item-8-fKc {
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 63.8rem;
          display: flex;
          align-items: center;

          .nama-PWW {
            align-items: center;
            flex-shrink: 0;
            margin-right: 12.4rem;
            height: 100%;
            display: flex;

            .ellipse-2810-kM4 {
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 178.571%;
              background-position: 0 -3.044rem;
              background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');

              .ellipse-2810-kM4-bg {
                position: relative;
                background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
                width: 4.8rem;
                height: 4.8rem;
              }
            }
            .chibi-maruko-EX8 {
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .item-9361549288762185-ZpJ {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .jalan-cikutra-baru-raya-no1-Gyc {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-420-bkz {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.5;
            margin-right: 18.4rem;
            font-weight: 500;
            flex-shrink: 0;
          }
          .bpjs-XPk {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .item-9-sCi {
          top: 71.4rem;
          display: flex;
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;

          .nama-beW {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 8.3rem;
            height: 100%;

            .ellipse-2810-ZbL {
              margin-right: 1.3rem;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:f451e02a45a0631c8ad756095195a7a39c7006ca');
              border-radius: 2.4rem;
              width: 4.8rem;
              height: 4.8rem;
              background-size: 100% 100%;
              background-position: center;
              flex-shrink: 0;
            }
            .denisa-dhaniswara-srv {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-9361549288762186-p1U {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.4rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .jalan-cikutra-baru-raya-no1-vKQ {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15.3rem 0rem 0rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-389-SYe {
            flex-shrink: 0;
            margin: 0rem 18.4rem 0rem 0rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .bpjs-xmt {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-10-7Pt {
          display: flex;
          align-items: center;
          width: 112.3rem;
          height: 4.8rem;
          position: absolute;
          left: 3.8rem;
          top: 79rem;

          .nama-dd8 {
            margin-right: 9.7rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .ellipse-2810-aoG {
              background-position: center;
              background-image: url('REPLACE_IMAGE:7b2cd0eed872ee8b401711552349fea4c2b3c5fe');
              background-size: 100% 100%;
              width: 4.8rem;
              height: 4.8rem;
              background-repeat: no-repeat;
              border-radius: 2.4rem;
              flex-shrink: 0;
              margin-right: 1.3rem;
            }
            .angeeta-sentana-7HQ {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-9361549288762187-Esp {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 8.4rem;
          }
          .jalan-cikutra-baru-raya-no1-AmU {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.3rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .item-230-Jcn {
            font-size: 1.6rem;
            font-weight: 500;
            flex-shrink: 0;
            margin: 0rem 18.4rem 0rem 0rem;
            text-align: center;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            line-height: 1.5;
            color: #1c2434;
          }
          .bpjs-q6v {
            line-height: 1.5;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
        .auto-group-qm6x-yU2 {
          width: 115.9rem;
          height: 6.3rem;
          position: absolute;
          left: 2rem;
          top: 2.5rem;
          display: flex;
          align-items: center;

          .auto-group-vqfh-WTx {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 7rem;
            width: 103.3rem;

            .rectangle-4978-3yg {
              top: 0;
              background-color: #f7f9fc;
              border-radius: 0.3rem;
              width: 102.9rem;
              height: 6.3rem;
              position: absolute;
              left: 0;
            }
            .nama-Bpz {
              position: absolute;
              left: 2rem;
              font-family: Roboto, 'Source Sans Pro';
              width: 3.8rem;
              top: 1.9rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              white-space: nowrap;
              height: 2.2rem;
            }
            .nomor-id-Jei {
              white-space: nowrap;
              width: 6rem;
              height: 2.2rem;
              font-size: 1.4rem;
              font-weight: 500;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              position: absolute;
              left: 29.9rem;
              top: 1.9rem;
              line-height: 1.5714285714;
            }
            .alamat-DWn {
              left: 52.9rem;
              top: 1.9rem;
              font-weight: 500;
              line-height: 1.5714285714;
              color: #64748b;
              width: 4.5rem;
              height: 2.2rem;
              position: absolute;
              font-size: 1.4rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .total-layanan-di-pakai-Kpi {
              color: #64748b;
              width: 14.4rem;
              position: absolute;
              top: 1.9rem;
              font-weight: 500;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.2rem;
              left: 88.9rem;
              font-size: 1.4rem;
              line-height: 1.5714285714;
            }
          }
          .asuransi-Rcr {
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5714285714;
          }
        }
      }
      .paginasi-u2E {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .show-2sY {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 0.6rem 0rem 0rem;
        }
        .filter-9BU {
          padding: 1.2rem 2.5rem;
          border-radius: 0.5rem;
          box-sizing: border-box;
          height: 4.8rem;
          display: flex;
          align-items: center;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          margin: 0.1rem 1rem 0rem 0rem;

          .auto-group-ryek-GG6 {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 1.8rem;
            height: 100%;
            position: relative;

            .tabler-triangle-inverted-filled-cKx {
              vertical-align: top;
              width: 1.8rem;
              height: 1.8rem;
              position: absolute;
              left: 0;
              top: 0.3rem;
              object-fit: contain;
            }
            .item-10-YUW {
              font-size: 1.4rem;
              line-height: 1.7142857143;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              position: absolute;
              left: 0;
              top: 0;
              text-align: center;
              font-weight: 500;
              white-space: nowrap;
              width: 1.6rem;
              height: 2.4rem;
            }
          }
          .tabler-triangle-inverted-filled-fJE {
            width: 1.3rem;
            height: 1.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .showing-1-to-10-of-1369-results-NiS {
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 44.7rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
        }
        .sebelumnya-tRt {
          flex-shrink: 0;
          margin: 0.3rem 0.9rem 0rem 0rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-1-p4e {
          font-weight: 500;
          white-space: nowrap;
          display: flex;
          margin-bottom: 0.1rem;
          font-size: 1.6rem;
          align-items: center;
          border-radius: 0.5rem 0 0 0.5rem;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
          justify-content: center;
          background-color: #3c50e0;
          width: 4rem;
          height: 4.8rem;
          color: #f8fafc;
          flex-shrink: 0;
        }
        .item-2-VRg {
          height: 4.8rem;
          line-height: 1.5;
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 1.6rem;
          white-space: nowrap;
          width: 4rem;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-weight: 500;
          color: #000000;
          background-color: #e2e8f0;
        }
        .item-3-ztE {
          text-align: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          height: 4.8rem;
          line-height: 1.5;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          background-color: #e2e8f0;
          width: 4rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          justify-content: center;
          margin-bottom: 0.1rem;
        }
        .item-4-WLn {
          background-color: #e2e8f0;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          width: 4rem;
          height: 4.8rem;
          text-align: center;
          display: flex;
          flex-shrink: 0;
          white-space: nowrap;
          justify-content: center;
          margin-bottom: 0.1rem;
          font-size: 1.6rem;
        }
        .item-5-Qwx {
          align-items: center;
          justify-content: center;
          margin-bottom: 0.1rem;
          line-height: 1.5;
          color: #000000;
          background-color: #e2e8f0;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          text-align: center;
          font-weight: 500;
          flex-shrink: 0;
          width: 4rem;
          height: 4.8rem;
          white-space: nowrap;
        }
        .item-6-7bU {
          width: 4.4rem;
          font-weight: 500;
          display: flex;
          justify-content: center;
          height: 4.8rem;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #000000;
          margin-bottom: 0.1rem;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          background-color: #e2e8f0;
          flex-shrink: 0;
          text-align: center;
          white-space: nowrap;
        }
        .auto-group-pmjw-pEz {
          width: 10.2rem;
          height: 4.8rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1rem 0.1rem 0rem;

          .item-7-k8e {
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 1.5;
            color: #000000;
            position: absolute;
            white-space: nowrap;
            font-size: 1.6rem;
            justify-content: center;
            width: 5.8rem;
            height: 4.8rem;
            font-weight: 500;
            display: flex;
            background-color: #e2e8f0;
          }
          .item-8-ezi {
            display: flex;
            position: absolute;
            line-height: 1.5;
            font-weight: 500;
            color: #000000;
            height: 4.8rem;
            text-align: center;
            top: 0;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0 0.5rem 0.5rem 0;
            width: 5.8rem;
            left: 4.4rem;
            background-color: #e2e8f0;
            align-items: center;
            justify-content: center;
          }
        }
        .selanjutnya-LMk {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: #212b36;
        }
      }
    }
  }
}
