
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.tambah-kunjungan-h9g {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .sidebar-DNv {
    flex-direction: column;
    flex-shrink: 0;
    padding: 4rem 2.5rem 71.6rem 2.5rem;
    height: 132rem;
    align-items: center;
    display: flex;
    background-color: #1c2434;
    box-sizing: border-box;
    width: 28rem;

    .logo-uFk {
      margin: 0rem 0.7rem 4.577rem 1.5rem;
      width: calc(100% - 2.2rem);
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .shape-DnE {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .namaproduk-MNe {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
      }
    }
    .menu-53k {
      text-transform: uppercase;
      color: #8a99af;
      flex-shrink: 0;
      margin: 0rem 16rem 1.223rem 0rem;
      line-height: 1.4285714286;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 400;
    }
    .dashboard-yev {
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;
      padding: 0.8rem 10.9rem 0.8rem 1.579rem;
      width: 100%;
      background-color: #1c2434;

      .grid-alt-tWz {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.079rem 0.006rem 0rem;
        width: 1.6425rem;
        height: 1.6031rem;
      }
      .dashboard-odx {
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .staff-KcJ {
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      background-color: #1c2434;
      flex-shrink: 0;
      padding: 0.8rem 15.2rem 0.8rem 1.527rem;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;

      .medical-icon-i-care-staff-area-euU {
        width: 1.7361rem;
        height: 1.7618rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.037rem 0.009rem 0rem;
      }
      .staff-ZWe {
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .dokter-HhY {
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      background-color: #1c2434;
      flex-shrink: 0;
      padding: 0.8rem 14.225rem 0.8rem 1.5rem;
      align-items: center;
      border-radius: 0.3rem;

      .fa6-solid-user-doctor-QXG {
        width: 1.575rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1rem;
      }
      .dokter-8y4 {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .pasien-TkS {
      box-sizing: border-box;
      padding: 0.8rem 13.8rem 0.8rem 1.8rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 100%;
      display: flex;
      background-color: #333a48;
      border-radius: 0.3rem;

      .fluent-patient-24-filled-zkN {
        flex-shrink: 0;
        margin: 0rem 1.3rem 0rem 0rem;
        width: 1.2rem;
        height: 1.5004rem;
        object-fit: contain;
        vertical-align: top;
      }
      .pasien-7a6 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .kunjungan-qFC {
      box-sizing: border-box;
      padding: 0.8rem 11.1rem 0.8rem 1.8rem;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      flex-shrink: 0;
      background-color: #1c2434;

      .mdi-patient-xqc {
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .kunjungan-7Ci {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .obat-qeW {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      background-color: #1c2434;
      border-radius: 0.3rem;
      margin-bottom: 0.6rem;
      padding: 0.8rem 15.3rem 0.8rem 1.8rem;
      display: flex;
      align-items: center;

      .icon-park-solid-medicine-bottle-one-NuL {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .obat-76E {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .layanan-dqG {
      box-sizing: border-box;
      padding: 0.8rem 12.7rem 0.8rem 1.594rem;
      width: 100%;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      background-color: #1c2434;
      display: flex;

      .ri-service-fill-NH4 {
        margin: 0.018rem 1.094rem 0rem 0rem;
        width: 1.6116rem;
        height: 1.4331rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .layanan-Uaz {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .spesialisasi-zpE {
      padding: 0.8rem 10.2rem 0.8rem 1.74rem;
      width: 100%;
      border-radius: 0.3rem;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      .maki-doctor-Kbc {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.18rem;
        width: 1.38rem;
        height: 1.56rem;
      }
      .spesialisasi-fQa {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .cms-CQW {
      padding: 0.8rem 15.3rem 0.8rem 1.613rem;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      margin-bottom: 0.6rem;

      .carbon-cloud-service-management-Kzv {
        margin-right: 1.1125rem;
        width: 1.575rem;
        height: 1.575rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cms-f3C {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .setting-PUz {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.6rem 0.8rem 1.656rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;

      .ant-design-setting-filled-KtS {
        flex-shrink: 0;
        margin: 0.001rem 1.155rem 0rem 0rem;
        width: 1.4896rem;
        height: 1.5728rem;
        object-fit: contain;
        vertical-align: top;
      }
      .setting-Sy4 {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
  }
  .auto-group-zo5r-Mq8 {
    flex-shrink: 0;
    width: 138rem;

    .topbar-Wi2 {
      padding: 1.7rem 3rem 1.7rem 3.5rem;
      height: 8rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 0.1rem 0 #e2e8f0;
      background-color: #ffffff;
      margin-bottom: 4.5rem;
      box-sizing: border-box;

      .search-pii {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 86.9rem 1.3rem 0rem;
        box-sizing: border-box;
        padding-left: 0.1667rem;
        height: calc(100% - 2.6rem);

        .search-2-Lh4 {
          width: 1.6667rem;
          height: 1.6667rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.167rem 0rem 0rem;
        }
        .type-to-search-GKp {
          line-height: 1.4285714286;
          color: #637381;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      .notification-QS2 {
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.5rem;
        width: 3.4rem;
      }
      .message-M6N {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.8rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
      }
      .user-6Zk {
        box-sizing: border-box;
        padding-right: 0.4167rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-adew-Sdc {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 1.5rem 0.5rem 0rem;
          height: calc(100% - 1.1rem);
          align-items: flex-end;

          .harper-kinanti-ydY {
            font-size: 1.4rem;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-weight: 400;
            line-height: 1.4285714286;
            color: #212b36;
            font-family: Roboto, 'Source Sans Pro';
            text-align: right;
          }
          .administrasi-hZY {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #637381;
          }
        }
        .ellipse-2824-dxz {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:764408efd316b9785ad155fc6738f0a18dd0c978');
          border-radius: 2.3rem;
          flex-shrink: 0;
          margin-right: 1.4167rem;
          width: 4.6rem;
          height: 4.6rem;
          background-size: 100% 100%;
        }
        .chevron-down-2-1-Z5x {
          margin-bottom: 0rem;
          width: 1.1667rem;
          height: 0.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .tambah-kunjungan-FUa {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 5rem 4.5rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.2727272727;
      color: #212b36;
    }
    .registrasi-pengguna-baru-NJJ {
      margin: 0 4.5rem;
      border-radius: 0.2rem;
      width: calc(100% - 9rem);
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #e2e8f0;
      box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 2.5rem;

      .auto-group-g2cp-6EJ {
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;

        .kolom-1-Qkn {
          height: 100%;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;

          .nama-9yG {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-uwdz-VGS {
            border: solid 0.1rem #e2e8f0;
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            width: 100%;
            font-weight: 400;
            background-color: #ffffff;
            border-radius: 0.8rem;
          }
        }
        .kolom-8-ZGJ {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .poli-layanan-uqx {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .auto-group-zqpj-FQ2 {
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;

            .poli-layanan-BHg {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.3167rem;
            }
            .chevron-down-2-1-7h8 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
            }
          }
        }
      }
      .auto-group-wxet-QgE {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 100%;
        height: 9rem;
        display: flex;

        .kolom-2-xSr {
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;
          height: 100%;
          border-radius: 0.8rem;

          .nomor-id-hfL {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .auto-group-hy3m-eKg {
            background-color: #ffffff;
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            width: 100%;
            font-weight: 400;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            border-radius: 0.8rem;
            box-sizing: border-box;
            font-size: 1.6rem;
            line-height: 1.5;
            white-space: nowrap;
            border: solid 0.1rem #e2e8f0;
          }
        }
        .kolom-9-Jf8 {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .doktor-rwY {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
          }
          .auto-group-vfom-PwU {
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;

            .poli-layanan-8PG {
              line-height: 1.5;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.3167rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .chevron-down-2-1-sLr {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
            }
          }
        }
      }
      .auto-group-8ix9-NYW {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 20.5rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-mtdq-vK8 {
          margin-right: 7rem;
          width: 58.5rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .kolom-5-U5k {
            flex-direction: column;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 100%;
            display: flex;

            .tempat-tanggal-lahir-pvJ {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .auto-group-lbl3-xWi {
              font-size: 1.6rem;
              line-height: 1.5;
              white-space: nowrap;
              border: solid 0.1rem #e2e8f0;
              background-color: #ffffff;
              box-sizing: border-box;
              padding: 1.7rem 2.5rem 1.5rem 2.5rem;
              width: 100%;
              flex-shrink: 0;
              border-radius: 0.8rem;
              font-weight: 400;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .kolom-7-d74 {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;
            flex-shrink: 0;

            .asuransi-BeN {
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .auto-group-2xdh-vbx {
              white-space: nowrap;
              border: solid 0.1rem #e2e8f0;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.7rem 2.5rem 1.5rem 2.5rem;
              width: 100%;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              border-radius: 0.8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
        }
        .kolom-10-bi6 {
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 58.5rem;

          .deskripsi-Zev {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }
          .auto-group-a3xj-uTt {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
            border-radius: 0.8rem;
            padding: 1.7rem 2.5rem;
            height: 16.8rem;
            font-size: 1.6rem;
            font-weight: 400;
            border: solid 0.1rem #e2e8f0;
            box-sizing: border-box;
            width: 100%;
            line-height: 1.5;
            color: #64748b;
          }
        }
      }
      .auto-group-tjdm-Aei {
        flex-shrink: 0;
        margin-bottom: 2.5rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        .kolom-4-XEN {
          margin: 0.3rem 33.4rem 0rem 0rem;
          width: 58.5rem;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .jenis-kelamin-fbU {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .auto-group-tc8f-bzv {
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            width: 100%;
            font-weight: 400;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            box-sizing: border-box;
            font-size: 1.6rem;
            line-height: 1.5;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
          }
        }
        .tambah-pasien-V4i {
          width: 11.3rem;
          text-align: center;
          margin-right: 2rem;
          font-weight: 500;
          color: #1c2434;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          height: 4.8rem;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #e2e8f0;
          border-radius: 0.5rem;
        }
        .tambah-pasien-yVg {
          font-weight: 500;
          line-height: 1.5;
          flex-shrink: 0;
          width: 18.8rem;
          cursor: pointer;
          text-align: center;
          border-radius: 0.5rem;
          color: #f8fafc;
          font-family: Roboto, 'Source Sans Pro';
          display: flex;
          background-color: #3c50e0;
          height: 4.8rem;
          font-size: 1.6rem;
          align-items: center;
          white-space: nowrap;
          justify-content: center;
        }
      }
      .kolom-6-UBY {
        margin-bottom: 2.5rem;
        width: 58.5rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .golongan-darah-pmC {
          white-space: nowrap;
          margin-bottom: 1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #1c2434;
          font-family: Roboto, 'Source Sans Pro';
        }
        .auto-group-g5zy-xcW {
          border: solid 0.1rem #e2e8f0;
          box-sizing: border-box;
          padding: 1.7rem 2.5rem 1.5rem 2.5rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #64748b;
          width: 100%;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          border-radius: 0.8rem;
        }
      }
      .kolom-3-2sG {
        width: 58.5rem;
        border-radius: 0.8rem;
        flex-shrink: 0;

        .alamat-CFx {
          margin-bottom: 1rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #1c2434;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-pck1-Ld4 {
          width: 100%;
          font-size: 1.6rem;
          border: solid 0.1rem #e2e8f0;
          border-radius: 0.8rem;
          box-sizing: border-box;
          height: 11.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #64748b;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          padding: 1.7rem 2.5rem;
        }
      }
    }
  }
}
