
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59rem;
}.tambah-kunjungan-RwC {
  background-color: #ffffff;
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  border-radius: 0.2rem;

  .auto-group-fset-wPk {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.6rem 1.5rem 2.6rem;
    width: calc(100% - 5.2rem);
    height: 4.8rem;
    display: flex;

    .cari-pasien-SrJ {
      line-height: 1.5;
      color: #1c2434;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 26.1rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .tambah-pasien-NEA {
      align-items: center;
      background-color: #3c50e0;
      flex-shrink: 0;
      display: flex;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1.2rem 2.5rem 1.2rem 2.875rem;
      height: 100%;
      cursor: pointer;

      .material-symbols-add-6AA {
        width: 1.05rem;
        height: 1.05rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.375rem;
      }
      .tambah-pasien-pbx {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #f8fafc;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .line-638-Wza {
    flex-shrink: 0;
    margin-bottom: 1.4rem;
    width: 100%;
    height: 0.1rem;
    background-color: #e2e8f0;
  }
  .nomor-id-FhG {
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 2.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5714285714;
    color: #212b36;
  }
  .auto-group-3ixf-B58 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 2.6rem 2.5rem 2.6rem;

    .masukan-nama-6ht {
      width: 100%;
      line-height: 1.5;
      font-family: Roboto, 'Source Sans Pro';
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.3rem 2.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 1.8rem;
      border: solid 0.15rem #e2e8f0;
      border-radius: 0.4rem;
      color: #64748b;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .tambah-kunjungan-MNv {
      font-family: Roboto, 'Source Sans Pro';
      width: 100%;
      text-align: center;
      color: #eff4fb;
      justify-content: center;
      font-weight: 500;
      line-height: 1.5;
      display: flex;
      border-radius: 0.4rem;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      white-space: nowrap;
      height: 5rem;
      align-items: center;
      background-color: #3c50e0;
    }
  }
}
