
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.tambah-pasien-rMc {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .sidebar-Zmp {
    width: 28rem;
    height: 132rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 2.5rem 71.6rem 2.5rem;
    background-color: #1c2434;

    .logo-FuY {
      cursor: pointer;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.7rem 4.577rem 1.5rem;
      width: calc(100% - 2.2rem);

      .shape-agv {
        margin-right: 1.2rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .namaproduk-ujC {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.1666666667;
        color: #ffffff;
      }
    }
    .menu-2Yv {
      font-weight: 400;
      text-transform: uppercase;
      color: #8a99af;
      flex-shrink: 0;
      margin: 0rem 16rem 1.223rem 0rem;
      line-height: 1.4285714286;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.4rem;
    }
    .dashboard-jiE {
      margin-bottom: 0.6rem;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 10.9rem 0.8rem 1.579rem;
      width: 100%;
      cursor: pointer;
      display: flex;

      .grid-alt-4Vc {
        margin: 0rem 1.079rem 0.006rem 0rem;
        width: 1.6425rem;
        height: 1.6031rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-ayk {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .staff-JPx {
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      border-radius: 0.3rem;
      align-items: center;
      background-color: #1c2434;
      flex-shrink: 0;
      padding: 0.8rem 15.2rem 0.8rem 1.527rem;
      width: 100%;
      display: flex;

      .medical-icon-i-care-staff-area-2Kx {
        width: 1.7362rem;
        height: 1.7618rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.037rem 0.009rem 0rem;
      }
      .staff-LLe {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .dokter-41k {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      padding: 0.8rem 14.225rem 0.8rem 1.5rem;
      width: 100%;
      background-color: #1c2434;
      border-radius: 0.3rem;

      .fa6-solid-user-doctor-BcA {
        flex-shrink: 0;
        margin-right: 1rem;
        width: 1.575rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dokter-irz {
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
      }
    }
    .pasien-EaS {
      margin-bottom: 0.6rem;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 13.8rem 0.8rem 1.8rem;
      width: 100%;
      display: flex;
      background-color: #333a48;
      border-radius: 0.3rem;

      .fluent-patient-24-filled-NAr {
        margin: 0rem 1.3rem 0rem 0rem;
        width: 1.2rem;
        height: 1.5004rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pasien-VFU {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .kunjungan-1zW {
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      margin-bottom: 0.6rem;
      padding: 0.8rem 11.1rem 0.8rem 1.8rem;
      align-items: center;

      .mdi-patient-YjY {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
      }
      .kunjungan-5zN {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .obat-cjQ {
      margin-bottom: 0.6rem;
      width: 100%;
      display: flex;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 15.3rem 0.8rem 1.8rem;
      align-items: center;

      .icon-park-solid-medicine-bottle-one-MBC {
        margin-right: 1.3rem;
        width: 1.2rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .obat-Umc {
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .layanan-QfG {
      box-sizing: border-box;
      display: flex;
      margin-bottom: 0.6rem;
      width: 100%;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      padding: 0.8rem 12.7rem 0.8rem 1.594rem;

      .ri-service-fill-jSe {
        margin: 0.018rem 1.094rem 0rem 0rem;
        width: 1.6116rem;
        height: 1.4331rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .layanan-FA6 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .spesialisasi-y66 {
      border-radius: 0.3rem;
      background-color: #1c2434;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      padding: 0.8rem 10.2rem 0.8rem 1.74rem;
      width: 100%;
      display: flex;
      align-items: center;

      .maki-doctor-J8N {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.18rem;
        width: 1.38rem;
        height: 1.56rem;
      }
      .spesialisasi-Ryg {
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .cms-ARU {
      padding: 0.8rem 15.3rem 0.8rem 1.613rem;
      width: 100%;
      background-color: #1c2434;
      margin-bottom: 0.6rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      flex-shrink: 0;

      .carbon-cloud-service-management-Pp2 {
        margin-right: 1.1125rem;
        width: 1.575rem;
        height: 1.575rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cms-j7C {
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
    }
    .setting-rhc {
      padding: 0.8rem 13.6rem 0.8rem 1.656rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #1c2434;
      border-radius: 0.3rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .ant-design-setting-filled-zYv {
        height: 1.5728rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.001rem 1.155rem 0rem 0rem;
        width: 1.4897rem;
      }
      .setting-WnA {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #dee4ee;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-hym9-drn {
    width: 138rem;
    flex-shrink: 0;

    .topbar-zSS {
      margin-bottom: 4.5rem;
      box-sizing: border-box;
      height: 8rem;
      display: flex;
      background-color: #ffffff;
      padding: 1.7rem 3rem 1.7rem 3.5rem;
      width: 100%;
      align-items: center;
      box-shadow: 0 0.1rem 0 #e2e8f0;

      .search-i7Y {
        align-items: center;
        flex-shrink: 0;
        margin: 1.3rem 86.9rem 1.3rem 0rem;
        box-sizing: border-box;
        padding-left: 0.1667rem;
        height: calc(100% - 2.6rem);
        display: flex;

        .search-2-Ebg {
          flex-shrink: 0;
          margin: 0rem 2.167rem 0rem 0rem;
          width: 1.6667rem;
          height: 1.6667rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .type-to-search-m5p {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.4285714286;
          color: #637381;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .notification-uC2 {
        margin-right: 1.5rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .message-qbU {
        margin-right: 3.8rem;
        width: 3.4rem;
        height: 3.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .user-PN6 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: 0.4167rem;
        height: 100%;
        display: flex;

        .auto-group-qdfv-Xz6 {
          height: calc(100% - 1.1rem);
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.6rem 1.5rem 0.5rem 0rem;

          .harper-kinanti-GRt {
            font-size: 1.4rem;
            line-height: 1.4285714286;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.1rem;
            text-align: right;
            font-weight: 400;
            color: #212b36;
            flex-shrink: 0;
          }
          .administrasi-zcn {
            flex-shrink: 0;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #637381;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .ellipse-2824-Xsc {
          height: 4.6rem;
          background-size: 100% 100%;
          border-radius: 2.3rem;
          width: 4.6rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:764408efd316b9785ad155fc6738f0a18dd0c978');
          flex-shrink: 0;
          margin-right: 1.4167rem;
        }
        .chevron-down-2-1-Sza {
          margin-bottom: 0rem;
          width: 1.1667rem;
          height: 0.6667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .tambah-pasien-Z3c {
      white-space: nowrap;
      margin: 0rem 0rem 5rem 4.5rem;
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.2727272727;
      color: #212b36;
      font-family: Roboto, 'Source Sans Pro';
    }
    .registrasi-pengguna-baru-sa6 {
      width: calc(100% - 9rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
      margin: 0 4.5rem;
      box-sizing: border-box;
      border: solid 0.1rem #e2e8f0;
      background-color: #ffffff;
      border-radius: 0.2rem;
      padding: 2.5rem;
      row-gap: 2.5rem;

      .auto-group-g1bm-m9g {
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .kolom-1-tk6 {
          width: 58.5rem;
          height: 100%;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 7rem;

          .nama-qQS {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .auto-group-17ep-BDQ {
            white-space: nowrap;
            border-radius: 0.8rem;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Roboto, 'Source Sans Pro';
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            line-height: 1.5;
            color: #64748b;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
          }
        }
        .kolom-15-SQE {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .foto-PqG {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .auto-group-kedd-8nr {
            align-items: center;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.833rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;

            .upload-foto-g3g {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.5333rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
            }
            .ic-outline-file-upload-RGA {
              margin-bottom: 0.2rem;
              width: 1.3333rem;
              height: 1.3333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-hm2w-X4J {
        flex-shrink: 0;
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;

        .kolom-2-5Li {
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;
          height: 100%;

          .nomor-id-RvN {
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .auto-group-7f3d-Nai {
            box-sizing: border-box;
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            background-color: #ffffff;
            border-radius: 0.8rem;
            line-height: 1.5;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #e2e8f0;
          }
        }
        .kolom-4-rEz {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .provinsi-cEA {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }
          .auto-group-rmct-Lvr {
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;

            .pilih-provinsi-V34 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.8167rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #64748b;
            }
            .chevron-down-2-1-dQA {
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .auto-group-fvhz-XkS {
        height: 9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .kolom-5-HUi {
          margin-right: 7rem;
          width: 58.5rem;
          height: 100%;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .tempat-lahir-Eer {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .auto-group-uptj-aTp {
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            box-sizing: border-box;
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;
            color: #64748b;
          }
        }
        .kolom-6-quY {
          height: 100%;
          flex-shrink: 0;
          width: 58.5rem;

          .kota-kabupaten-QSr {
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-cv7y-wxa {
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;

            .pilih-kota-kabupaten-HWe {
              font-weight: 400;
              line-height: 1.5;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 36.7167rem;
              font-size: 1.6rem;
            }
            .chevron-down-2-1-dKc {
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-jr1d-ibx {
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .kolom-11-sjk {
          height: 100%;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;

          .tanggal-lahir-EKQ {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
          }
          .auto-group-zlxp-y26 {
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.75rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;

            .dd-mm-yyyy-7PC {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.75rem;
            }
            .material-symbols-date-range-rLn {
              margin-bottom: 0.2rem;
              width: 1.5rem;
              height: 1.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .kolom-13-xPp {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .kecamatan-iNz {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
          }
          .auto-group-hsej-G9c {
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;

            .pilih-kecematan-bxa {
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 40.5167rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .chevron-down-2-1-wFk {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
            }
          }
        }
      }
      .auto-group-jm27-Rwc {
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .kolom-7-nGN {
          height: 100%;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;

          .asuransi-Xze {
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .auto-group-iubr-GxE {
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            border-radius: 0.8rem;

            .pilih-asuransi-pD4 {
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.3167rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .chevron-down-2-1-ksQ {
              width: 1.1667rem;
              height: 0.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
            }
          }
        }
        .kolom-14-Bxi {
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 58.5rem;
          height: 100%;

          .rt-rw-jzE {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
          }
          .auto-group-anxh-tML {
            white-space: nowrap;
            border: solid 0.1rem #e2e8f0;
            border-radius: 0.8rem;
            box-sizing: border-box;
            font-weight: 400;
            line-height: 1.5;
            font-family: Roboto, 'Source Sans Pro';
            background-color: #ffffff;
            padding: 1.7rem 2.5rem 1.5rem 2.5rem;
            width: 100%;
            font-size: 1.6rem;
            color: #64748b;
          }
        }
      }
      .auto-group-9wdu-9o4 {
        align-items: flex-start;
        flex-shrink: 0;
        width: 100%;
        height: 20.5rem;
        display: flex;

        .auto-group-bqrh-Jfx {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 58.5rem;
          height: 100%;
          align-items: center;

          .kolom-12-49L {
            flex-shrink: 0;
            margin-bottom: 2.5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;

            .nomor-asuransi-Qyt {
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .rectangle-4414-MPL {
              box-sizing: border-box;
              background-color: #ffffff;
              border-radius: 0.8rem;
              flex-shrink: 0;
              width: 100%;
              height: 5.6rem;
              border: solid 0.1rem #e2e8f0;
            }
          }
          .kolom-8-sca {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .jenis-kelamin-DAe {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #1c2434;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-yxko-Yii {
              box-sizing: border-box;
              align-items: center;
              border: solid 0.1rem #e2e8f0;
              padding: 1.7rem 2.917rem 1.5rem 2.5rem;
              width: 100%;
              display: flex;
              background-color: #ffffff;
              border-radius: 0.8rem;
              flex-shrink: 0;

              .pilih-jenis-kelamin-HAW {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 39.1167rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #64748b;
                font-family: Roboto, 'Source Sans Pro';
              }
              .chevron-down-2-1-pAS {
                margin-bottom: 0.2rem;
                width: 1.1667rem;
                height: 0.6667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .kolom-10-K7C {
          border-radius: 0.8rem;
          flex-shrink: 0;
          width: 58.5rem;

          .alamat-GYE {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }
          .auto-group-ckrm-DCa {
            font-size: 1.6rem;
            color: #64748b;
            font-family: Roboto, 'Source Sans Pro';
            border: solid 0.1rem #e2e8f0;
            background-color: #ffffff;
            padding: 1.7rem 2.5rem;
            height: 16.8rem;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
            border-radius: 0.8rem;
            box-sizing: border-box;
            width: 100%;
          }
        }
      }
      .auto-group-55iw-gM4 {
        flex-shrink: 0;
        width: 100%;
        height: 9rem;
        display: flex;
        align-items: center;

        .kolom-9-EdU {
          width: 58.5rem;
          height: 100%;
          flex-shrink: 0;

          .golongan-darah-BYi {
            font-weight: 500;
            line-height: 1.5;
            color: #1c2434;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }
          .auto-group-4xl3-8D4 {
            background-color: #ffffff;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.7rem 2.917rem 1.5rem 2.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #e2e8f0;

            .pilih-golongan-darah-FoU {
              color: #64748b;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 37.3167rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .chevron-down-2-1-Pen {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              width: 1.1667rem;
              height: 0.6667rem;
            }
          }
        }
        .auto-group-7qwk-hvN {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 36.1rem;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .tambah-pasien-Fwt {
            height: 4.8rem;
            font-size: 1.6rem;
            font-family: Roboto, 'Source Sans Pro';
            background-color: #e2e8f0;
            width: 11.3rem;
            font-weight: 500;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 2rem;
            line-height: 1.5;
            color: #1c2434;
            white-space: nowrap;
          }
          .tambah-pasien-js4 {
            font-weight: 500;
            line-height: 1.5;
            color: #f8fafc;
            width: 16.1rem;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            background-color: #3c50e0;
            text-align: center;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            height: 4.8rem;
            cursor: pointer;
            justify-content: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
