
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.dashboard-uGA {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.dashboard-uGA .sidebar-T2n {
  box-sizing: border-box;
  padding: 4rem 2.5rem 71.6rem 2.5rem;
  width: 28rem;
  height: 132rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c2434;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .logo-kGn {
  margin: 0rem 0.7rem 4.577rem 1.5rem;
  width: calc(100% - 2.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .logo-kGn .shape-gAS {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .logo-kGn .namaproduk-Qs8 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .menu-vaa {
  margin: 0rem 16rem 1.223rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #8a99af;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dashboard-39Q {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.9rem 0.8rem 1.579rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333a48;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dashboard-39Q .grid-alt-kJi {
  margin: 0rem 1.079rem 0.006rem 0rem;
  width: 1.6425rem;
  height: 1.6031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dashboard-39Q .dashboard-eut {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .staff-xva {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.2rem 0.8rem 1.527rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .staff-xva .medical-icon-i-care-staff-area-JDk {
  margin: 0rem 1.037rem 0.009rem 0rem;
  width: 1.7362rem;
  height: 1.7618rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .staff-xva .staff-cVL {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dokter-k5k {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 14.225rem 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dokter-k5k .fa6-solid-user-doctor-sAN {
  margin-right: 1rem;
  width: 1.575rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .dokter-k5k .dokter-yz6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .pasien-74i {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 13.8rem 0.8rem 1.8rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .pasien-74i .fluent-patient-24-filled-dok {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 1.2rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .pasien-74i .pasien-x5L {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .kunjungan-g1L {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 11.1rem 0.8rem 1.8rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .kunjungan-g1L .mdi-patient-QCE {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .kunjungan-g1L .kunjungan-YJS {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .obat-UC6 {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .obat-UC6 .icon-park-solid-medicine-bottle-one-QLe {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .obat-UC6 .obat-jNv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .layanan-4AJ {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 12.7rem 0.8rem 1.594rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .layanan-4AJ .ri-service-fill-PCa {
  margin: 0.018rem 1.094rem 0rem 0rem;
  width: 1.6116rem;
  height: 1.4331rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .layanan-4AJ .layanan-J4e {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .spesialisasi-R9G {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.2rem 0.8rem 1.74rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .spesialisasi-R9G .maki-doctor-x9C {
  margin-right: 1.18rem;
  width: 1.38rem;
  height: 1.56rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .spesialisasi-R9G .spesialisasi-UtE {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .cms-QWz {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.613rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .cms-QWz .carbon-cloud-service-management-LfY {
  margin-right: 1.1125rem;
  width: 1.575rem;
  height: 1.575rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .cms-QWz .cms-fSv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .setting-apn {
  box-sizing: border-box;
  padding: 0.8rem 13.6rem 0.8rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .setting-apn .ant-design-setting-filled-ivz {
  margin: 0.001rem 1.155rem 0rem 0rem;
  width: 1.4897rem;
  height: 1.5728rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .sidebar-T2n .setting-apn .setting-S6J {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU {
  width: 138rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v {
  box-sizing: border-box;
  padding: 1.7rem 3rem 1.7rem 3.5rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0 #e2e8f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .search-CUn {
  margin: 1.3rem 86.9rem 1.3rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  height: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .search-CUn .search-2-87Y {
  margin: 0rem 2.167rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .search-CUn .type-to-search-e5t {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .notification-Apv {
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .message-i5k {
  margin-right: 3.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE {
  box-sizing: border-box;
  padding-right: 0.4167rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE .auto-group-doxk-CFp {
  margin: 0.6rem 1.5rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE .auto-group-doxk-CFp .harper-kinanti-XJ6 {
  margin-bottom: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE .auto-group-doxk-CFp .administrasi-Svr {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE .ellipse-2824-zBg {
  margin-right: 1.4167rem;
  width: 4.6rem;
  height: 4.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2824-bg.png');
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .topbar-H6v .user-TJE .chevron-down-2-1-HwU {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE {
  box-sizing: border-box;
  padding: 4.5rem 4.5rem 0rem 4.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc {
  margin-bottom: 3rem;
  width: 100%;
  height: 11.7rem;
  display: flex;
  column-gap: 4.5rem;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 1.6rem 1.65rem;
  width: 40rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .auto-group-gxbh-kTg {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .auto-group-gxbh-kTg .texts-group-tZt {
  margin: 0.2rem 22.85rem 0.3rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .auto-group-gxbh-kTg .texts-group-tZt .text-DcA {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.08rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .auto-group-gxbh-kTg .texts-group-tZt .text-wHG {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.09rem;
  color: #2d3748;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .auto-group-gxbh-kTg .icon-in-circle-4cn {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .bottom-section-1H8 {
  margin-left: 0.1rem;
  display: flex;
  align-items: flex-start;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .bottom-section-1H8 .icons-arrow-up-14px-green-500-MLz {
  margin: 0.1rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #48bb78;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .bottom-section-1H8 .text-3zW {
  margin-right: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.0601rem;
  color: #48bb78;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-1-TDg .bottom-section-1H8 .text-mQi {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.02rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 1.6rem 1.65rem;
  width: 40rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .auto-group-9a2s-mZ8 {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .auto-group-9a2s-mZ8 .texts-group-Vzv {
  margin: 0.2rem 22.75rem 0.3rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .auto-group-9a2s-mZ8 .texts-group-Vzv .text-Ehc {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.08rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .auto-group-9a2s-mZ8 .texts-group-Vzv .text-ArA {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.09rem;
  color: #2d3748;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .auto-group-9a2s-mZ8 .icon-in-circle-JxN {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .bottom-section-emL {
  margin-left: 0.1rem;
  display: flex;
  align-items: flex-start;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .bottom-section-emL .icons-arrow-down-14px-red-500-QVc {
  margin: 0.1rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #f56565;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .bottom-section-emL .text-iWJ {
  margin-right: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.0601rem;
  color: #f56565;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-2-dxi .bottom-section-emL .text-3Ya {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.02rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei {
  box-sizing: border-box;
  padding: 1.6rem 1.7rem 1.6rem 1.65rem;
  width: 40rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.0500000007), 0 1rem 1.5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .auto-group-vasb-Sqc {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .auto-group-vasb-Sqc .texts-group-awp {
  margin: 0.2rem 20.85rem 0.3rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .auto-group-vasb-Sqc .texts-group-awp .text-KuQ {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1725;
  letter-spacing: 0.08rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .auto-group-vasb-Sqc .texts-group-awp .text-Fo4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.09rem;
  color: #2d3748;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .auto-group-vasb-Sqc .icon-in-circle-PPU {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .bottom-section-8rr {
  margin-left: 0.1rem;
  display: flex;
  align-items: flex-start;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .bottom-section-8rr .icons-arrow-up-14px-green-500-gtN {
  margin: 0.1rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #48bb78;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .bottom-section-8rr .text-Bq8 {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.0601rem;
  color: #48bb78;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .cards-group-7fc .card-3-iei .bottom-section-8rr .text-2qk {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1725;
  letter-spacing: 0.02rem;
  color: #a0aec0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee {
  margin-bottom: 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG {
  margin-bottom: 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .date-filter-bXU {
  margin-right: 97.1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 0.9rem 1.65rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .date-filter-bXU .calendar-vpe {
  margin-right: 0.95rem;
  width: 1.5rem;
  height: 1.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .date-filter-bXU .dec-29-2023-jan-4-2024-ryC {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .daily-filter-XZY {
  box-sizing: border-box;
  padding: 0.9rem 1.875rem 0.9rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .daily-filter-XZY .harian-s7c {
  margin-right: 1.175rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .auto-group-chdh-TRG .daily-filter-XZY .chevron-down-myg {
  width: 1.05rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz {
  box-sizing: border-box;
  padding: 3rem 3rem 2.8rem 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .analisa-kegiatan-pelayanan-bC2 {
  margin-bottom: 4.7rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2727272727;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS {
  margin-left: 0.3rem;
  width: 122.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-albh-G3G {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-albh-G3G .number-RB4 {
  margin-right: 2rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-albh-G3G .line-530-9Mx {
  margin-bottom: 0.1rem;
  width: 117.8rem;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-wzeo-e3p {
  margin-right: 2rem;
  row-gap: 3.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-wzeo-e3p .number-P1Q {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-wzeo-e3p .number-Kve {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-wzeo-e3p .number-598 {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-wzeo-e3p .number-24N {
  text-align: right;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-g7jw-9en {
  margin-bottom: 1.1rem;
  width: 117.8rem;
  height: 20.9rem;
  border-bottom: dashed 0.1rem #e2e8f0;
  box-sizing: border-box;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-x5so-HDG .auto-group-g7jw-9en .auto-group-1zvt-VTk {
  width: 117.8rem;
  height: 20.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc {
  margin-right: 1.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-HPc {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-Qz2 {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-jWW {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-ThQ {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-oFU {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-8oY {
  margin-right: 2.9rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-5Cz {
  margin-right: 2.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-1MY {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-kK8 {
  margin-right: 2.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-Ukv {
  margin-right: 2.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-cML {
  margin-right: 2.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-wuQ {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-HTU {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-E7p {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-My8 {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-hGJ {
  margin-right: 2.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-35G {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-a5C {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-K2n {
  margin-right: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-T8z {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-nh4 {
  margin-right: 2.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-jMQ {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-UJz {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-QiS {
  margin-right: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-YZk {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-H1Y {
  margin-right: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-QM4 {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-8nr {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-H9x {
  margin-right: 2.6rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .analisa-kegiatan-uee .analisa-kegiatan-4Sz .content-inS .auto-group-fnsk-Qqc .week-RGA {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 {
  width: 100%;
  height: 53.4rem;
  position: relative;
  border: solid 0.1rem #e2e8f0;
  box-sizing: border-box;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .registrasi-pengguna-terbaru-PsC {
  width: 26.2rem;
  height: 2.6rem;
  position: absolute;
  left: 3.5rem;
  top: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .line-199-gLW {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 21.9rem;
  background-color: #e2e8f0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .line-200-cEA {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 29.5rem;
  background-color: #e2e8f0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .line-201-wnE {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 37.1rem;
  background-color: #e2e8f0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .line-202-V34 {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 44.7rem;
  background-color: #e2e8f0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z {
  width: 120.2rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 15.7rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .nama-DNN {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .nama-DNN .ellipse-2810-MzN {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-DRx.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .nama-DNN .denisa-dhaniswara-GrS {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .item-9361549288762183-13L {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .jalan-cikutra-baru-raya-no1-iyL {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .item-590-FiN {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-1-22z .januari-2023-yPU {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En {
  width: 120.2rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 23.3rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .nama-S2A {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .nama-S2A .ellipse-2810-nri {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-Log.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .nama-S2A .angeeta-sentana-iVU {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .item-9361549288762184-rLn {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .jalan-cikutra-baru-raya-no1-myY {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .item-467-6kv {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-2-7En .januari-2023-RoC {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 {
  width: 120.2rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 30.9rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .nama-tRt {
  margin-right: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .nama-tRt .ellipse-2810-FGS {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 178.571%;
  background-position: 0 -3.044rem;
  background-image: url('../assets/ellipse-2810-bg.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .nama-tRt .ellipse-2810-FGS .ellipse-2810-FGS-bg {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .nama-tRt .chibi-maruko-vNa {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .item-9361549288762185-TNW {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .jalan-cikutra-baru-raya-no1-AGv {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .item-420-sx2 {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-3-9z6 .januari-2023-Qwx {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY {
  width: 120.2rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 38.5rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .nama-Ugv {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .nama-Ugv .ellipse-2810-S7x {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-9qg.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .nama-Ugv .denisa-dhaniswara-Ywg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .item-9361549288762186-V6E {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .jalan-cikutra-baru-raya-no1-Bze {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .item-389-s6n {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-4-9uY .januari-2023-kRU {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A {
  width: 120.2rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 46.1rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .nama-Qkv {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .nama-Qkv .ellipse-2810-x1k {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-XMG.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .nama-Qkv .angeeta-sentana-GYE {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .item-9361549288762187-1Vp {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .jalan-cikutra-baru-raya-no1-jwc {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .item-230-HCS {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .item-5-V8A .januari-2023-oRg {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC {
  width: 119.6rem;
  height: 6.3rem;
  position: absolute;
  left: 2rem;
  top: 7.6rem;
  display: flex;
  align-items: center;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU {
  margin-right: 7rem;
  width: 103.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU .rectangle-4978-CCv {
  width: 102.9rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f9fc;
  border-radius: 0.3rem;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU .nama-iwx {
  width: 3.8rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU .nomor-id-EvJ {
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  left: 29.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU .alamat-kdk {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 52.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .auto-group-hltp-FoU .total-layanan-di-pakai-sTU {
  width: 14.4rem;
  height: 2.2rem;
  position: absolute;
  left: 88.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-uGA .auto-group-yvxd-LhU .auto-group-dzty-ntE .registrasi-pengguna-baru-J54 .auto-group-zfc3-vmC .tanggal-daftar-AxN {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
