
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.kunjungan-tsx {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.kunjungan-tsx .sidebar-qYJ {
  box-sizing: border-box;
  padding: 4rem 2.5rem 71.6rem 2.5rem;
  width: 28rem;
  height: 132rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c2434;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .logo-YBp {
  margin: 0rem 0.7rem 4.577rem 1.5rem;
  width: calc(100% - 2.2rem);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .logo-YBp .shape-fGS {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .logo-YBp .namaproduk-oNe {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .menu-viA {
  margin: 0rem 16rem 1.223rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #8a99af;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dashboard-q4S {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.9rem 0.8rem 1.579rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dashboard-q4S .grid-alt-khC {
  margin: 0rem 1.079rem 0.006rem 0rem;
  width: 1.6425rem;
  height: 1.6031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dashboard-q4S .dashboard-5Dg {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .staff-o9g {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.2rem 0.8rem 1.527rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .staff-o9g .medical-icon-i-care-staff-area-8hk {
  margin: 0rem 1.037rem 0.009rem 0rem;
  width: 1.7362rem;
  height: 1.7618rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .staff-o9g .staff-rNr {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dokter-Nc6 {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 14.225rem 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dokter-Nc6 .fa6-solid-user-doctor-VRp {
  margin-right: 1rem;
  width: 1.575rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .dokter-Nc6 .dokter-RaN {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .pasien-9WN {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 13.8rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .pasien-9WN .fluent-patient-24-filled-sxA {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 1.2rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .pasien-9WN .pasien-b7U {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .kunjungan-iht {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 11.1rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333a48;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .kunjungan-iht .mdi-patient-414 {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .kunjungan-iht .kunjungan-C7G {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .obat-v3G {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .obat-v3G .icon-park-solid-medicine-bottle-one-SXQ {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .obat-v3G .obat-AyC {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .layanan-JZc {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 12.7rem 0.8rem 1.594rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .layanan-JZc .ri-service-fill-e7g {
  margin: 0.018rem 1.094rem 0rem 0rem;
  width: 1.6116rem;
  height: 1.4331rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .layanan-JZc .layanan-kAi {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .spesialisasi-fHg {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.2rem 0.8rem 1.74rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .spesialisasi-fHg .maki-doctor-z54 {
  margin-right: 1.18rem;
  width: 1.38rem;
  height: 1.56rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .spesialisasi-fHg .spesialisasi-7vN {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .cms-Sxe {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.613rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .cms-Sxe .carbon-cloud-service-management-nWi {
  margin-right: 1.1125rem;
  width: 1.575rem;
  height: 1.575rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .cms-Sxe .cms-KWe {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .setting-FfC {
  box-sizing: border-box;
  padding: 0.8rem 13.6rem 0.8rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .setting-FfC .ant-design-setting-filled-C4e {
  margin: 0.001rem 1.155rem 0rem 0rem;
  width: 1.4897rem;
  height: 1.5728rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .sidebar-qYJ .setting-FfC .setting-uze {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c {
  width: 138rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe {
  box-sizing: border-box;
  padding: 1.7rem 3rem 1.7rem 3.5rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0 #e2e8f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .search-WUe {
  margin: 1.3rem 86.9rem 1.3rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  height: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .search-WUe .search-2-cGn {
  margin: 0rem 2.167rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .search-WUe .type-to-search-6Sr {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .notification-pte {
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .message-ZrE {
  margin-right: 3.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 {
  box-sizing: border-box;
  padding-right: 0.4167rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 .auto-group-9wph-EhU {
  margin: 0.6rem 1.5rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 .auto-group-9wph-EhU .harper-kinanti-Ab8 {
  margin-bottom: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 .auto-group-9wph-EhU .administrasi-tX8 {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 .ellipse-2824-2dL {
  margin-right: 1.4167rem;
  width: 4.6rem;
  height: 4.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2824-bg-ykr.png');
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .topbar-nYe .user-JJ2 .chevron-down-2-1-wEW {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU {
  box-sizing: border-box;
  padding: 4.5rem 3.7rem 0rem 4.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 {
  margin: 0rem 0.8rem 3rem 0.1rem;
  width: calc(100% - 0.9rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .pencarian-4iS {
  margin-right: 92.2rem;
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.2rem 2.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .pencarian-4iS .material-symbols-search-rounded-NDL {
  margin: 0rem 1.283rem 0.035rem 0rem;
  width: 1.4667rem;
  height: 1.4646rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .pencarian-4iS .pencarian-gUv {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3c50e0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .tambah-pasien-nnr {
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.2rem 2.875rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .tambah-pasien-nnr .material-symbols-add-veA {
  margin-right: 1.375rem;
  width: 1.05rem;
  height: 1.05rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-t663-MZ8 .tambah-pasien-nnr .tambah-kunjungan-fLr {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ {
  margin: 0rem 0.9rem 3rem 0rem;
  width: calc(100% - 0.9rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .date-filter-whg {
  margin-right: 97.1rem;
  box-sizing: border-box;
  padding: 0.9rem 1.5rem 0.9rem 1.65rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .date-filter-whg .calendar-srE {
  margin-right: 0.95rem;
  width: 1.5rem;
  height: 1.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .date-filter-whg .dec-29-2023-jan-4-2024-ozn {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .daily-filter-V6v {
  box-sizing: border-box;
  padding: 0.9rem 1.875rem 0.9rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .daily-filter-V6v .harian-RWN {
  margin-right: 1.175rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .auto-group-barb-cfQ .daily-filter-V6v .chevron-down-xFQ {
  width: 1.05rem;
  height: 0.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa {
  margin: 0rem 0.7rem 10rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem 2rem 2.4rem 2rem;
  width: 129rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz {
  margin: 0rem 3rem 1.8rem 0rem;
  width: calc(100% - 3rem);
  height: 6.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG {
  margin-right: 4.3rem;
  width: 108.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .rectangle-4978-Ysp {
  width: 102.9rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f9fc;
  border-radius: 0.3rem;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .dokter-sv6 {
  width: 4.2rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .pasien-PNe {
  width: 4.3rem;
  height: 2.2rem;
  position: absolute;
  left: 26.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .poli-layanan-heE {
  width: 8.4rem;
  height: 2.2rem;
  position: absolute;
  left: 54.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .waktu-Cqt {
  width: 4rem;
  height: 2.2rem;
  position: absolute;
  left: 72.7rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .nomor-antrian-ipE {
  width: 9.2rem;
  height: 2.2rem;
  position: absolute;
  left: 99.3rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .auto-group-nxpp-cjG .asuransi-Ena {
  width: 5.6rem;
  height: 2.2rem;
  position: absolute;
  left: 86.3rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-jkfd-Hgz .nomor-antrian-jzE {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .dokter-z9U {
  margin-right: 9.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .dokter-z9U .ellipse-2810-jcr {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-yKk.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .dokter-z9U .tony-chopper-rSa {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .nama-PhQ {
  margin-right: 8.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .nama-PhQ .ellipse-2810-9ga {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-NMc.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .nama-PhQ .denisa-dhaniswara-fev {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .poli-umum-1Cz {
  margin-right: 9.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .item-1300-jug {
  margin-right: 9.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .bpjs-f2e {
  margin-right: 9.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .item-123-z4v {
  margin-right: 14.4667rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-1-g8n .material-symbols-print-X4r {
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-199-evA {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .dokter-ubC {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .dokter-ubC .ellipse-2810-EtN {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-Zo4.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .dokter-ubC .tony-chopper-m7c {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .nama-hX4 {
  margin: 0rem 9.6rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .nama-hX4 .ellipse-2810-F2n {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-ET8.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .nama-hX4 .angeeta-sentana-N7Q {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .poli-umum-WDc {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .item-1300-EfQ {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .bpjs-kNr {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .item-124-UZk {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-2-zj8 .material-symbols-print-bPU {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-200-iyt {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .dokter-zAi {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .dokter-zAi .ellipse-2810-822 {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-QAz.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .dokter-zAi .tony-chopper-DpA {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .nama-ZNE {
  margin: 0rem 12.3rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .nama-ZNE .ellipse-2810-tvJ {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 178.571%;
  background-position: 0 -3.044rem;
  background-image: url('../assets/ellipse-2810-bg-Epv.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .nama-ZNE .ellipse-2810-tvJ .ellipse-2810-tvJ-bg {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .nama-ZNE .chibi-maruko-AN2 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .poli-umum-JDL {
  margin-right: 9.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .item-1300-qUA {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .bpjs-Lfp {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .item-125-ru4 {
  margin-right: 14.4667rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-3-4nr .material-symbols-print-Vh8 {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-201-2h4 {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .dokter-JPg {
  margin-right: 9.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .dokter-JPg .ellipse-2810-4Nr {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-K2N.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .dokter-JPg .tony-chopper-PR8 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .nama-LLN {
  margin-right: 8.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .nama-LLN .ellipse-2810-hRp {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-DcJ.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .nama-LLN .denisa-dhaniswara-pFY {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .poli-umum-92v {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .item-1300-rxv {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .bpjs-NwG {
  margin-right: 9.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .item-126-ikE {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-4-aia .material-symbols-print-Sw8 {
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-c11y-PbU {
  margin-bottom: 1.3rem;
  width: 125rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .dokter-qTU {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .dokter-qTU .ellipse-2810-NTQ {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-7Uz.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .dokter-qTU .tony-chopper-6PQ {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .nama-33k {
  margin: 0rem 9.6rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .nama-33k .ellipse-2810-P7c {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-pd4.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .nama-33k .angeeta-sentana-JVU {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .poli-umum-r1C {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .item-1300-y5p {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .bpjs-HMQ {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .item-127-cuU {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-5-vbQ .material-symbols-print-kVt {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-204-VCa {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .dokter-Mka {
  margin-right: 9.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .dokter-Mka .ellipse-2810-i5L {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-G6z.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .dokter-Mka .tony-chopper-pu4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .nama-mZQ {
  margin-right: 8.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .nama-mZQ .ellipse-2810-8Px {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-Hst.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .nama-mZQ .denisa-dhaniswara-rqk {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .poli-umum-oFC {
  margin-right: 9.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .item-1300-j8r {
  margin-right: 9.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .bpjs-3QS {
  margin-right: 9.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .item-128-bB4 {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-6-Evr .material-symbols-print-JrA {
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-205-RA6 {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .dokter-rFQ {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .dokter-rFQ .ellipse-2810-nuk {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-KG2.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .dokter-rFQ .tony-chopper-K8z {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .nama-ewx {
  margin: 0rem 9.6rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .nama-ewx .ellipse-2810-zkv {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-hwC.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .nama-ewx .angeeta-sentana-XF4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .poli-umum-4Ez {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .item-1300-nAz {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .bpjs-hYr {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .item-129-Eog {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-7-weE .material-symbols-print-Nez {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .auto-group-hwux-7ca {
  margin-bottom: 1.3rem;
  width: 125rem;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .dokter-ZUa {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .dokter-ZUa .ellipse-2810-W8v {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-6mL.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .dokter-ZUa .tony-chopper-qBC {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .nama-mae {
  margin: 0rem 12.3rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .nama-mae .ellipse-2810-WYE {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 178.571%;
  background-position: 0 -3.044rem;
  background-image: url('../assets/ellipse-2810-bg-hAv.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .nama-mae .ellipse-2810-WYE .ellipse-2810-WYE-bg {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .nama-mae .chibi-maruko-BeN {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .poli-umum-Kka {
  margin-right: 9.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .item-1300-Gfp {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .bpjs-PkS {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .item-130-vkN {
  margin-right: 14.4667rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-8-TRY .material-symbols-print-GJS {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-208-oZG {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .dokter-fLa {
  margin-right: 9.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .dokter-fLa .ellipse-2810-2B8 {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-or6.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .dokter-fLa .tony-chopper-wot {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .nama-psg {
  margin-right: 8.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .nama-psg .ellipse-2810-BTL {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-U94.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .nama-psg .denisa-dhaniswara-Viv {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .poli-umum-S8N {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .item-1300-mRY {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .bpjs-V6e {
  margin-right: 9.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .item-131-E4E {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-9-Ymk .material-symbols-print-Mee {
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-209-JJz {
  margin-bottom: 1.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 {
  margin: 0rem 4.8rem 1.4rem 0rem;
  box-sizing: border-box;
  padding-right: 0.1667rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .dokter-A6J {
  margin: 0rem 9.1rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .dokter-A6J .ellipse-2810-JTQ {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-KJv.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .dokter-A6J .tony-chopper-dVg {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .nama-yJe {
  margin: 0rem 9.6rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .nama-yJe .ellipse-2810-vDt {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-qNW.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .nama-yJe .angeeta-sentana-SCE {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .poli-umum-B9p {
  margin: 0rem 9.5rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .item-1300-urW {
  margin: 0rem 9.9rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .bpjs-dXc {
  margin: 0rem 9.2rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .item-132-NEJ {
  margin: 0rem 14.467rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .item-10-FV8 .material-symbols-print-J7x {
  margin-bottom: 0rem;
  width: 1.6667rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .registrasi-pengguna-baru-SAa .line-210-RyG {
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc {
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .show-eb8 {
  margin: 0.3rem 0.6rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .filter-ydQ {
  margin: 0.1rem 1rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 2.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .filter-ydQ .item-10-GsQ {
  margin-right: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .filter-ydQ .tabler-triangle-inverted-filled-oMY {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .showing-1-to-10-of-1369-results-6rS {
  margin: 0.3rem 44.7rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .sebelumnya-pGe {
  margin: 0.3rem 0.9rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-1-YCe {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.5rem 0 0 0.5rem;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-2-1c2 {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-3-uSW {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-4-zyk {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-5-uL2 {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .item-6-Cpv {
  margin-bottom: 0.1rem;
  width: 4.4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .auto-group-gh2x-W4v {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 10.2rem;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .auto-group-gh2x-W4v .item-7-2JA {
  width: 5.8rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .auto-group-gh2x-W4v .item-8-KYA {
  width: 5.8rem;
  height: 4.8rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.kunjungan-tsx .auto-group-vomq-q7c .auto-group-5qsw-RfU .paginasi-XFc .selanjutnya-QJi {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
