
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.2rem;
}.nomor-antrian-eez {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
}
.nomor-antrian-eez .nomor-antrian-9re {
  margin: 0rem 25.1rem 1.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nomor-antrian-eez .line-638-3BL {
  margin-bottom: 1.9rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.nomor-antrian-eez .poli-umum-NUW {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nomor-antrian-eez .auto-group-ngy7-7BC {
  box-sizing: border-box;
  padding: 0rem 9.3rem 2.5rem 9.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.nomor-antrian-eez .auto-group-ngy7-7BC .download-1-2Z4 {
  width: 22.5rem;
  height: 22.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.nomor-antrian-eez .auto-group-ngy7-7BC .item-123-xBp {
  margin: 0rem 0.1rem 1.9rem 0rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.nomor-antrian-eez .auto-group-ngy7-7BC .group-1000004055-GCW {
  margin: 0 4.9rem;
  width: calc(100% - 9.8rem);
  height: 4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.nomor-antrian-eez .auto-group-ngy7-7BC .group-1000004055-GCW .group-1000004046-nge {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}
.nomor-antrian-eez .auto-group-ngy7-7BC .group-1000004055-GCW .group-1000004046-nge .frame-1000003565-Yfp {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #eff4fb;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.4rem;
}
