
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.pasien-abG {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.pasien-abG .sidebar-Wjp {
  box-sizing: border-box;
  padding: 4rem 2.5rem 81.2rem 2.5rem;
  width: 28rem;
  height: 141.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c2434;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .logo-QKQ {
  margin: 0rem 0.7rem 4.3rem 1.5rem;
  width: calc(100% - 2.2rem);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .logo-QKQ .shape-Xev {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .logo-QKQ .namaproduk-rx6 {
  margin-top: 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .menu-NvS {
  margin: 0rem 16rem 1.5rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #8a99af;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dashboard-tdt {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.9rem 0.8rem 1.579rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dashboard-tdt .grid-alt-DRG {
  margin: 0rem 1.079rem 0.006rem 0rem;
  width: 1.6425rem;
  height: 1.6031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dashboard-tdt .dashboard-82S {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .staff-dzn {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.2rem 0.8rem 1.527rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .staff-dzn .medical-icon-i-care-staff-area-yHx {
  margin: 0rem 1.037rem 0.009rem 0rem;
  width: 1.7362rem;
  height: 1.7618rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .staff-dzn .staff-5rn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dokter-DTC {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 14.225rem 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dokter-DTC .fa6-solid-user-doctor-8aA {
  margin-right: 1rem;
  width: 1.575rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .dokter-DTC .dokter-TMY {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .pasien-yqg {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 13.8rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333a48;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .pasien-yqg .fluent-patient-24-filled-ujL {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 1.2rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .pasien-yqg .pasien-qN6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .kunjungan-xhc {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 11.1rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .kunjungan-xhc .mdi-patient-VhY {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .kunjungan-xhc .kunjungan-qmQ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .obat-NFY {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .obat-NFY .icon-park-solid-medicine-bottle-one-6SS {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .obat-NFY .obat-cva {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .layanan-M7U {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 12.7rem 0.8rem 1.594rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .layanan-M7U .ri-service-fill-USz {
  margin: 0.018rem 1.094rem 0rem 0rem;
  width: 1.6116rem;
  height: 1.4331rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .layanan-M7U .layanan-mwt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .spesialisasi-HfL {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.2rem 0.8rem 1.74rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .spesialisasi-HfL .maki-doctor-1rE {
  margin-right: 1.18rem;
  width: 1.38rem;
  height: 1.56rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .spesialisasi-HfL .spesialisasi-MQJ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .cms-ghU {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.613rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .cms-ghU .carbon-cloud-service-management-DxJ {
  margin-right: 1.1125rem;
  width: 1.575rem;
  height: 1.575rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .cms-ghU .cms-xQ6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .setting-HSN {
  box-sizing: border-box;
  padding: 0.8rem 13.6rem 0.8rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .setting-HSN .ant-design-setting-filled-2Px {
  margin: 0.001rem 1.155rem 0rem 0rem;
  width: 1.4897rem;
  height: 1.5728rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .sidebar-Wjp .setting-HSN .setting-Y7Q {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 {
  width: 138rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g {
  box-sizing: border-box;
  padding: 1.7rem 3rem 1.7rem 3.5rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0 #e2e8f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .search-WCe {
  margin: 1.3rem 86.9rem 1.3rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  height: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .search-WCe .search-2-dYA {
  margin: 0rem 2.167rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .search-WCe .type-to-search-m8a {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .notification-J8W {
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .message-3Lz {
  margin-right: 3.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr {
  box-sizing: border-box;
  padding-right: 0.4167rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr .auto-group-ypq3-YHk {
  margin: 0.6rem 1.5rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr .auto-group-ypq3-YHk .harper-kinanti-GDk {
  margin-bottom: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr .auto-group-ypq3-YHk .administrasi-aVL {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr .ellipse-2824-Wtn {
  margin-right: 1.4167rem;
  width: 4.6rem;
  height: 4.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2824-bg-PWv.png');
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .topbar-b5g .user-PQr .chevron-down-2-1-dTc {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW {
  box-sizing: border-box;
  padding: 4.5rem 3.7rem 0rem 4.5rem;
  width: 100%;
  row-gap: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk {
  margin-right: 0.8rem;
  width: calc(100% - 0.8rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .pencarian-PLJ {
  margin-right: 94.9rem;
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.2rem 2.75rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .pencarian-PLJ .material-symbols-search-rounded-VeE {
  margin: 0rem 1.283rem 0.035rem 0rem;
  width: 1.4667rem;
  height: 1.4646rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .pencarian-PLJ .pencarian-QmC {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #3c50e0;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .tambah-pasien-7fc {
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.2rem 2.875rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .tambah-pasien-7fc .material-symbols-add-eQe {
  margin-right: 1.375rem;
  width: 1.05rem;
  height: 1.05rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .auto-group-3rfd-TBk .tambah-pasien-7fc .tambah-pasien-ap6 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn {
  margin-right: 0.8rem;
  width: 129rem;
  height: 87.7rem;
  position: relative;
  border: solid 0.1rem #e2e8f0;
  box-sizing: border-box;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-199-bz6 {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 16.8rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-200-8UE {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 24.4rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-201-U2J {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 32rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-ouv3-oqG {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 39.6rem;
  object-fit: contain;
  vertical-align: top;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-204-LqC {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 47.2rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-205-GTx {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 54.8rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-5qhu-oTt {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 62.4rem;
  border-top: solid 0.1rem #e2e8f0;
  box-sizing: border-box;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-208-KBL {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 70rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-209-ezJ {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 77.6rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .line-210-Pwt {
  width: 125rem;
  height: 0.1rem;
  position: absolute;
  left: 2rem;
  top: 85.2rem;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 10.6rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .nama-esp {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .nama-esp .ellipse-2810-CeS {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-uxJ.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .nama-esp .denisa-dhaniswara-7mQ {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .item-9361549288762183-3ux {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .jalan-cikutra-baru-raya-no1-yoc {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .item-590-Jqt {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-1-XoC .bpjs-EUe {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 18.2rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .nama-72e {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .nama-72e .ellipse-2810-TsC {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-SvJ.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .nama-72e .angeeta-sentana-PF4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .item-9361549288762184-j42 {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .jalan-cikutra-baru-raya-no1-rPY {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .item-467-yyx {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-2-yh8 .bpjs-KH8 {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 25.8rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .nama-AYe {
  margin-right: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .nama-AYe .ellipse-2810-vGv {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 178.571%;
  background-position: 0 -3.044rem;
  background-image: url('../assets/ellipse-2810-bg-4cv.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .nama-AYe .ellipse-2810-vGv .ellipse-2810-vGv-bg {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .nama-AYe .chibi-maruko-CkE {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .item-9361549288762185-9fU {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .jalan-cikutra-baru-raya-no1-GEJ {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .item-420-BcA {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-3-FAn .bpjs-KCa {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 33.4rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .nama-nrr {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .nama-nrr .ellipse-2810-xFY {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-x62.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .nama-nrr .denisa-dhaniswara-gSS {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .item-9361549288762186-R98 {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .jalan-cikutra-baru-raya-no1-vbg {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .item-389-FP4 {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-4-4R4 .bpjs-yK4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 41rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .nama-45c {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .nama-45c .ellipse-2810-1mY {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-vLv.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .nama-45c .angeeta-sentana-8rA {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .item-9361549288762187-Fvn {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .jalan-cikutra-baru-raya-no1-nfp {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .item-230-Kfk {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-5-8Bx .bpjs-Rin {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 48.6rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .nama-64E {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .nama-64E .ellipse-2810-qnW {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-PXU.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .nama-64E .denisa-dhaniswara-U4n {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .item-9361549288762183-ocr {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .jalan-cikutra-baru-raya-no1-LMt {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .item-590-sMp {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-6-mXk .bpjs-oWN {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 56.2rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .nama-HRY {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .nama-HRY .ellipse-2810-qxr {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-qhY.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .nama-HRY .angeeta-sentana-y3U {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .item-9361549288762184-i14 {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .jalan-cikutra-baru-raya-no1-SSr {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .item-467-aJA {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-7-Yyk .bpjs-urE {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 63.8rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .nama-PWW {
  margin-right: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .nama-PWW .ellipse-2810-kM4 {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 178.571%;
  background-position: 0 -3.044rem;
  background-image: url('../assets/ellipse-2810-bg-Gog.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .nama-PWW .ellipse-2810-kM4 .ellipse-2810-kM4-bg {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:0a487b4fef6d9b96ca5c50d5257102e0ef77fffd');
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .nama-PWW .chibi-maruko-EX8 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .item-9361549288762185-ZpJ {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .jalan-cikutra-baru-raya-no1-Gyc {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .item-420-bkz {
  margin-right: 18.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-8-fKc .bpjs-XPk {
  margin-bottom: 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 71.4rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .nama-beW {
  margin-right: 8.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .nama-beW .ellipse-2810-ZbL {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-Qy4.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .nama-beW .denisa-dhaniswara-srv {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .item-9361549288762186-p1U {
  margin: 0rem 8.4rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .jalan-cikutra-baru-raya-no1-vKQ {
  margin: 0rem 15.3rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .item-389-SYe {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-9-sCi .bpjs-xmt {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt {
  width: 112.3rem;
  height: 4.8rem;
  position: absolute;
  left: 3.8rem;
  top: 79rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .nama-dd8 {
  margin-right: 9.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .nama-dd8 .ellipse-2810-aoG {
  margin-right: 1.3rem;
  width: 4.8rem;
  height: 4.8rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2810-bg-R6n.png');
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .nama-dd8 .angeeta-sentana-7HQ {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .item-9361549288762187-Esp {
  margin-right: 8.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .jalan-cikutra-baru-raya-no1-AmU {
  margin-right: 15.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .item-230-Jcn {
  margin: 0rem 18.4rem 0rem 0rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .item-10-7Pt .bpjs-q6v {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 {
  width: 115.9rem;
  height: 6.3rem;
  position: absolute;
  left: 2rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx {
  margin-right: 7rem;
  width: 103.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx .rectangle-4978-3yg {
  width: 102.9rem;
  height: 6.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f9fc;
  border-radius: 0.3rem;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx .nama-Bpz {
  width: 3.8rem;
  height: 2.2rem;
  position: absolute;
  left: 2rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx .nomor-id-Jei {
  width: 6rem;
  height: 2.2rem;
  position: absolute;
  left: 29.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx .alamat-DWn {
  width: 4.5rem;
  height: 2.2rem;
  position: absolute;
  left: 52.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .auto-group-vqfh-WTx .total-layanan-di-pakai-Kpi {
  width: 14.4rem;
  height: 2.2rem;
  position: absolute;
  left: 88.9rem;
  top: 1.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .registrasi-pengguna-baru-tpn .auto-group-qm6x-yU2 .asuransi-Rcr {
  margin-bottom: 0.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .show-2sY {
  margin: 0.3rem 0.6rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .filter-9BU {
  margin: 0.1rem 1rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 2.5rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .filter-9BU .auto-group-ryek-GG6 {
  margin-right: 0.8rem;
  width: 1.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .filter-9BU .auto-group-ryek-GG6 .tabler-triangle-inverted-filled-cKx {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .filter-9BU .auto-group-ryek-GG6 .item-10-YUW {
  width: 1.6rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .filter-9BU .tabler-triangle-inverted-filled-fJE {
  width: 1.3rem;
  height: 1.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .showing-1-to-10-of-1369-results-NiS {
  margin: 0.3rem 44.7rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .sebelumnya-tRt {
  margin: 0.3rem 0.9rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-1-p4e {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.5rem 0 0 0.5rem;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-2-VRg {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-3-ztE {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-4-WLn {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-5-Qwx {
  margin-bottom: 0.1rem;
  width: 4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .item-6-7bU {
  margin-bottom: 0.1rem;
  width: 4.4rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .auto-group-pmjw-pEz {
  margin: 0rem 1rem 0.1rem 0rem;
  width: 10.2rem;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .auto-group-pmjw-pEz .item-7-k8e {
  width: 5.8rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .auto-group-pmjw-pEz .item-8-ezi {
  width: 5.8rem;
  height: 4.8rem;
  position: absolute;
  left: 4.4rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  border-radius: 0 0.5rem 0.5rem 0;
}
.pasien-abG .auto-group-4i6k-3K4 .auto-group-vvwp-vxW .paginasi-u2E .selanjutnya-LMk {
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
