
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.tambah-pasien-rMc {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.tambah-pasien-rMc .sidebar-Zmp {
  box-sizing: border-box;
  padding: 4rem 2.5rem 71.6rem 2.5rem;
  width: 28rem;
  height: 132rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c2434;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .logo-FuY {
  margin: 0rem 0.7rem 4.577rem 1.5rem;
  width: calc(100% - 2.2rem);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .logo-FuY .shape-agv {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .logo-FuY .namaproduk-ujC {
  margin-top: 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .menu-2Yv {
  margin: 0rem 16rem 1.223rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #8a99af;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dashboard-jiE {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.9rem 0.8rem 1.579rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dashboard-jiE .grid-alt-4Vc {
  margin: 0rem 1.079rem 0.006rem 0rem;
  width: 1.6425rem;
  height: 1.6031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dashboard-jiE .dashboard-ayk {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .staff-JPx {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.2rem 0.8rem 1.527rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .staff-JPx .medical-icon-i-care-staff-area-2Kx {
  margin: 0rem 1.037rem 0.009rem 0rem;
  width: 1.7362rem;
  height: 1.7618rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .staff-JPx .staff-LLe {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dokter-41k {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 14.225rem 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dokter-41k .fa6-solid-user-doctor-BcA {
  margin-right: 1rem;
  width: 1.575rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .dokter-41k .dokter-irz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .pasien-EaS {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 13.8rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333a48;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .pasien-EaS .fluent-patient-24-filled-NAr {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 1.2rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .pasien-EaS .pasien-VFU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .kunjungan-1zW {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 11.1rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .kunjungan-1zW .mdi-patient-YjY {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .kunjungan-1zW .kunjungan-5zN {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .obat-cjQ {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .obat-cjQ .icon-park-solid-medicine-bottle-one-MBC {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .obat-cjQ .obat-Umc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .layanan-QfG {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 12.7rem 0.8rem 1.594rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .layanan-QfG .ri-service-fill-jSe {
  margin: 0.018rem 1.094rem 0rem 0rem;
  width: 1.6116rem;
  height: 1.4331rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .layanan-QfG .layanan-FA6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .spesialisasi-y66 {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.2rem 0.8rem 1.74rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .spesialisasi-y66 .maki-doctor-J8N {
  margin-right: 1.18rem;
  width: 1.38rem;
  height: 1.56rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .spesialisasi-y66 .spesialisasi-Ryg {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .cms-ARU {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.613rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .cms-ARU .carbon-cloud-service-management-Pp2 {
  margin-right: 1.1125rem;
  width: 1.575rem;
  height: 1.575rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .cms-ARU .cms-j7C {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .setting-rhc {
  box-sizing: border-box;
  padding: 0.8rem 13.6rem 0.8rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .setting-rhc .ant-design-setting-filled-zYv {
  margin: 0.001rem 1.155rem 0rem 0rem;
  width: 1.4897rem;
  height: 1.5728rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .sidebar-Zmp .setting-rhc .setting-WnA {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn {
  width: 138rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS {
  margin-bottom: 4.5rem;
  box-sizing: border-box;
  padding: 1.7rem 3rem 1.7rem 3.5rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0 #e2e8f0;
  background-color: #ffffff;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .search-i7Y {
  margin: 1.3rem 86.9rem 1.3rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  height: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .search-i7Y .search-2-Ebg {
  margin: 0rem 2.167rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .search-i7Y .type-to-search-m5p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .notification-uC2 {
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .message-qbU {
  margin-right: 3.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 {
  box-sizing: border-box;
  padding-right: 0.4167rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 .auto-group-qdfv-Xz6 {
  margin: 0.6rem 1.5rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 .auto-group-qdfv-Xz6 .harper-kinanti-GRt {
  margin-bottom: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 .auto-group-qdfv-Xz6 .administrasi-zcn {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 .ellipse-2824-Xsc {
  margin-right: 1.4167rem;
  width: 4.6rem;
  height: 4.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2824-bg-rBQ.png');
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .topbar-zSS .user-PN6 .chevron-down-2-1-Sza {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .tambah-pasien-Z3c {
  margin: 0rem 0rem 5rem 4.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2727272727;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 {
  margin: 0 4.5rem;
  box-sizing: border-box;
  padding: 2.5rem;
  width: calc(100% - 9rem);
  row-gap: 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-1-tk6 {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-1-tk6 .nama-qQS {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-1-tk6 .auto-group-17ep-BDQ {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-15-SQE {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-15-SQE .foto-PqG {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-15-SQE .auto-group-kedd-8nr {
  box-sizing: border-box;
  padding: 1.7rem 2.833rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-15-SQE .auto-group-kedd-8nr .upload-foto-g3g {
  margin-right: 43.5333rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-g1bm-m9g .kolom-15-SQE .auto-group-kedd-8nr .ic-outline-file-upload-RGA {
  margin-bottom: 0.2rem;
  width: 1.3333rem;
  height: 1.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-2-5Li {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-2-5Li .nomor-id-RvN {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-2-5Li .auto-group-7f3d-Nai {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-4-rEz {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-4-rEz .provinsi-cEA {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-4-rEz .auto-group-rmct-Lvr {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-4-rEz .auto-group-rmct-Lvr .pilih-provinsi-V34 {
  margin-right: 42.8167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-hm2w-X4J .kolom-4-rEz .auto-group-rmct-Lvr .chevron-down-2-1-dQA {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-5-HUi {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-5-HUi .tempat-lahir-Eer {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-5-HUi .auto-group-uptj-aTp {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-6-quY {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-6-quY .kota-kabupaten-QSr {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-6-quY .auto-group-cv7y-wxa {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-6-quY .auto-group-cv7y-wxa .pilih-kota-kabupaten-HWe {
  margin-right: 36.7167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-fvhz-XkS .kolom-6-quY .auto-group-cv7y-wxa .chevron-down-2-1-dKc {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-11-sjk {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-11-sjk .tanggal-lahir-EKQ {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-11-sjk .auto-group-zlxp-y26 {
  box-sizing: border-box;
  padding: 1.7rem 2.75rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-11-sjk .auto-group-zlxp-y26 .dd-mm-yyyy-7PC {
  margin-right: 42.75rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-11-sjk .auto-group-zlxp-y26 .material-symbols-date-range-rLn {
  margin-bottom: 0.2rem;
  width: 1.5rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-13-xPp {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-13-xPp .kecamatan-iNz {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-13-xPp .auto-group-hsej-G9c {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-13-xPp .auto-group-hsej-G9c .pilih-kecematan-bxa {
  margin-right: 40.5167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jr1d-ibx .kolom-13-xPp .auto-group-hsej-G9c .chevron-down-2-1-wFk {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-7-nGN {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-7-nGN .asuransi-Xze {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-7-nGN .auto-group-iubr-GxE {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-7-nGN .auto-group-iubr-GxE .pilih-asuransi-pD4 {
  margin-right: 42.3167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-7-nGN .auto-group-iubr-GxE .chevron-down-2-1-ksQ {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-14-Bxi {
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-14-Bxi .rt-rw-jzE {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-jm27-Rwc .kolom-14-Bxi .auto-group-anxh-tML {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 {
  width: 100%;
  height: 20.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-12-49L {
  margin-bottom: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-12-49L .nomor-asuransi-Qyt {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-12-49L .rectangle-4414-MPL {
  width: 100%;
  height: 5.6rem;
  border: solid 0.1rem #e2e8f0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-8-sca {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-8-sca .jenis-kelamin-DAe {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-8-sca .auto-group-yxko-Yii {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-8-sca .auto-group-yxko-Yii .pilih-jenis-kelamin-HAW {
  margin-right: 39.1167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .auto-group-bqrh-Jfx .kolom-8-sca .auto-group-yxko-Yii .chevron-down-2-1-pAS {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .kolom-10-K7C {
  width: 58.5rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .kolom-10-K7C .alamat-GYE {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-9wdu-9o4 .kolom-10-K7C .auto-group-ckrm-DCa {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem;
  width: 100%;
  height: 16.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 {
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .kolom-9-EdU {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .kolom-9-EdU .golongan-darah-BYi {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .kolom-9-EdU .auto-group-4xl3-8D4 {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .kolom-9-EdU .auto-group-4xl3-8D4 .pilih-golongan-darah-FoU {
  margin-right: 37.3167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .kolom-9-EdU .auto-group-4xl3-8D4 .chevron-down-2-1-Pen {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .auto-group-7qwk-hvN {
  box-sizing: border-box;
  padding-left: 36.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .auto-group-7qwk-hvN .tambah-pasien-Fwt {
  margin-right: 2rem;
  width: 11.3rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.tambah-pasien-rMc .auto-group-hym9-drn .registrasi-pengguna-baru-sa6 .auto-group-55iw-gM4 .auto-group-7qwk-hvN .tambah-pasien-js4 {
  width: 16.1rem;
  height: 4.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
