
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 166rem;
}.tambah-kunjungan-h9g {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.tambah-kunjungan-h9g .sidebar-DNv {
  box-sizing: border-box;
  padding: 4rem 2.5rem 71.6rem 2.5rem;
  width: 28rem;
  height: 132rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1c2434;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .logo-uFk {
  margin: 0rem 0.7rem 4.577rem 1.5rem;
  width: calc(100% - 2.2rem);
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .logo-uFk .shape-DnE {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .logo-uFk .namaproduk-MNe {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .menu-53k {
  margin: 0rem 16rem 1.223rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #8a99af;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dashboard-yev {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.9rem 0.8rem 1.579rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dashboard-yev .grid-alt-tWz {
  margin: 0rem 1.079rem 0.006rem 0rem;
  width: 1.6425rem;
  height: 1.6031rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dashboard-yev .dashboard-odx {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .staff-KcJ {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.2rem 0.8rem 1.527rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .staff-KcJ .medical-icon-i-care-staff-area-euU {
  margin: 0rem 1.037rem 0.009rem 0rem;
  width: 1.7361rem;
  height: 1.7618rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .staff-KcJ .staff-ZWe {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dokter-HhY {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 14.225rem 0.8rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dokter-HhY .fa6-solid-user-doctor-QXG {
  margin-right: 1rem;
  width: 1.575rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .dokter-HhY .dokter-8y4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .pasien-TkS {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 13.8rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #333a48;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .pasien-TkS .fluent-patient-24-filled-zkN {
  margin: 0rem 1.3rem 0rem 0rem;
  width: 1.2rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .pasien-TkS .pasien-7a6 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .kunjungan-qFC {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 11.1rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .kunjungan-qFC .mdi-patient-xqc {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .kunjungan-qFC .kunjungan-7Ci {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .obat-qeW {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .obat-qeW .icon-park-solid-medicine-bottle-one-NuL {
  margin-right: 1.3rem;
  width: 1.2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .obat-qeW .obat-76E {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .layanan-dqG {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 12.7rem 0.8rem 1.594rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .layanan-dqG .ri-service-fill-NH4 {
  margin: 0.018rem 1.094rem 0rem 0rem;
  width: 1.6116rem;
  height: 1.4331rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .layanan-dqG .layanan-Uaz {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .spesialisasi-zpE {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 10.2rem 0.8rem 1.74rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .spesialisasi-zpE .maki-doctor-Kbc {
  margin-right: 1.18rem;
  width: 1.38rem;
  height: 1.56rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .spesialisasi-zpE .spesialisasi-fQa {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .cms-CQW {
  margin-bottom: 0.6rem;
  box-sizing: border-box;
  padding: 0.8rem 15.3rem 0.8rem 1.613rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .cms-CQW .carbon-cloud-service-management-Kzv {
  margin-right: 1.1125rem;
  width: 1.575rem;
  height: 1.575rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .cms-CQW .cms-f3C {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .setting-PUz {
  box-sizing: border-box;
  padding: 0.8rem 13.6rem 0.8rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1c2434;
  border-radius: 0.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .setting-PUz .ant-design-setting-filled-KtS {
  margin: 0.001rem 1.155rem 0rem 0rem;
  width: 1.4896rem;
  height: 1.5728rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .sidebar-DNv .setting-PUz .setting-Sy4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee4ee;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 {
  width: 138rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 {
  margin-bottom: 4.5rem;
  box-sizing: border-box;
  padding: 1.7rem 3rem 1.7rem 3.5rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.1rem 0 #e2e8f0;
  background-color: #ffffff;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .search-pii {
  margin: 1.3rem 86.9rem 1.3rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  height: calc(100% - 2.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .search-pii .search-2-Lh4 {
  margin: 0rem 2.167rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .search-pii .type-to-search-GKp {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .notification-QS2 {
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .message-M6N {
  margin-right: 3.8rem;
  width: 3.4rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk {
  box-sizing: border-box;
  padding-right: 0.4167rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk .auto-group-adew-Sdc {
  margin: 0.6rem 1.5rem 0.5rem 0rem;
  height: calc(100% - 1.1rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk .auto-group-adew-Sdc .harper-kinanti-ydY {
  margin-bottom: 0.1rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk .auto-group-adew-Sdc .administrasi-hZY {
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #637381;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk .ellipse-2824-dxz {
  margin-right: 1.4167rem;
  width: 4.6rem;
  height: 4.6rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2824-bg-SdC.png');
  border-radius: 2.3rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .topbar-Wi2 .user-6Zk .chevron-down-2-1-Z5x {
  margin-bottom: 0rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .tambah-kunjungan-FUa {
  margin: 0rem 0rem 5rem 4.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2727272727;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ {
  margin: 0 4.5rem;
  box-sizing: border-box;
  padding: 2.5rem;
  width: calc(100% - 9rem);
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-1-Qkn {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-1-Qkn .nama-9yG {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-1-Qkn .auto-group-uwdz-VGS {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-8-ZGJ {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-8-ZGJ .poli-layanan-uqx {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-8-ZGJ .auto-group-zqpj-FQ2 {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-8-ZGJ .auto-group-zqpj-FQ2 .poli-layanan-BHg {
  margin-right: 43.3167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-g2cp-6EJ .kolom-8-ZGJ .auto-group-zqpj-FQ2 .chevron-down-2-1-7h8 {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-2-xSr {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-2-xSr .nomor-id-hfL {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-2-xSr .auto-group-hy3m-eKg {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-9-Jf8 {
  width: 58.5rem;
  height: 100%;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-9-Jf8 .doktor-rwY {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-9-Jf8 .auto-group-vfom-PwU {
  box-sizing: border-box;
  padding: 1.7rem 2.917rem 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-9-Jf8 .auto-group-vfom-PwU .poli-layanan-8PG {
  margin-right: 43.3167rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-wxet-QgE .kolom-9-Jf8 .auto-group-vfom-PwU .chevron-down-2-1-sLr {
  margin-bottom: 0.2rem;
  width: 1.1667rem;
  height: 0.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 20.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 {
  margin-right: 7rem;
  width: 58.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-5-U5k {
  margin-bottom: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-5-U5k .tempat-tanggal-lahir-pvJ {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-5-U5k .auto-group-lbl3-xWi {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-7-d74 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-7-d74 .asuransi-BeN {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .auto-group-mtdq-vK8 .kolom-7-d74 .auto-group-2xdh-vbx {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .kolom-10-bi6 {
  width: 58.5rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .kolom-10-bi6 .deskripsi-Zev {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-8ix9-NYW .kolom-10-bi6 .auto-group-a3xj-uTt {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem;
  width: 100%;
  height: 16.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei {
  margin-bottom: 2.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei .kolom-4-XEN {
  margin: 0.3rem 33.4rem 0rem 0rem;
  width: 58.5rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei .kolom-4-XEN .jenis-kelamin-fbU {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei .kolom-4-XEN .auto-group-tc8f-bzv {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei .tambah-pasien-V4i {
  margin-right: 2rem;
  width: 11.3rem;
  height: 4.8rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .auto-group-tjdm-Aei .tambah-pasien-yVg {
  width: 18.8rem;
  height: 4.8rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-6-UBY {
  margin-bottom: 2.5rem;
  width: 58.5rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-6-UBY .golongan-darah-pmC {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-6-UBY .auto-group-g5zy-xcW {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem 1.5rem 2.5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-3-2sG {
  width: 58.5rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-3-2sG .alamat-CFx {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1c2434;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.tambah-kunjungan-h9g .auto-group-zo5r-Mq8 .registrasi-pengguna-baru-NJJ .kolom-3-2sG .auto-group-pck1-Ld4 {
  box-sizing: border-box;
  padding: 1.7rem 2.5rem;
  width: 100%;
  height: 11.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
