
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59rem;
}.tambah-kunjungan-RwC {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #e2e8f0;
  box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.0700000003);
  background-color: #ffffff;
  border-radius: 0.2rem;
}
.tambah-kunjungan-RwC .auto-group-fset-wPk {
  margin: 0rem 2.6rem 1.5rem 2.6rem;
  width: calc(100% - 5.2rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-fset-wPk .cari-pasien-SrJ {
  margin-right: 26.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1c2434;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-fset-wPk .tambah-pasien-NEA {
  box-sizing: border-box;
  padding: 1.2rem 2.5rem 1.2rem 2.875rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #3c50e0;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-fset-wPk .tambah-pasien-NEA .material-symbols-add-6AA {
  margin-right: 1.375rem;
  width: 1.05rem;
  height: 1.05rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-fset-wPk .tambah-pasien-NEA .tambah-pasien-pbx {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #f8fafc;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .line-638-Wza {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #e2e8f0;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .nomor-id-FhG {
  margin-left: 2.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5714285714;
  color: #212b36;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-3ixf-B58 {
  box-sizing: border-box;
  padding: 1.2rem 2.6rem 2.5rem 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-3ixf-B58 .masukan-nama-6ht {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 1.3rem 2.2rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #64748b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.15rem #e2e8f0;
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.tambah-kunjungan-RwC .auto-group-3ixf-B58 .tambah-kunjungan-MNv {
  width: 100%;
  height: 5rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #eff4fb;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c50e0;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
